<title>Sign Up</title>
<h2>Sign up now!</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



<%= f.fields_for :user do |user| %>

  <div><%= user.label :name %><br />
      <%= user.text_field :name %></div>
 <% end %>



  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>


<div id="remote2">
        <div id="terms" class="box">
            <%= link_to "Terms of Service", "#" %> 
        </div>  
        <div id="authentication_services" class="box">
            <a href="/auth/facebook" class="authentication_services"><%= image_tag "facebook_64.png", :size => "64x64",  :alt => "Facebook" %>Facebook</a>
            <a href="/auth/google" class="authentication_services"><%= image_tag "google_64.png", :size => "64x64",  :alt => "Google" %>Google</a>
          </div>  
    </div>

<%= render :partial => "my_devise/shared/links" %>
