<%= render :partial => 'email_header' %>



<div align="center">
 <center>
  <table border="0" cellpadding="16" cellspacing="0" bordercolor="#111111" width="100%" bgcolor="#FFFFFF">
   <tr>
    <td width="100%">
     <table border="0" cellpadding="8" cellspacing="0" width="100%" style="border-collapse: collapse" bordercolor="#111111">
      <tr>
       <td width="100%">
	<table border="0" cellpadding="4" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">

  		<tr>
    			<td width="100%"><font size="2" face="Arial">Hi <%= @invitee.get_name %>,</font>
			</td>
  		</tr>

  		<tr>
    			<td width="100%">
			
				<table border="0" cellpadding="2" cellspacing="0" style="border-collapse:collapse" bordercolor="#111111" width="100%">	
					<tr>
        					<td width="50">
							<div class="avatar"><%= render :partial => 'profile_images/profile_image', :collection =>  [@inviter], :as => :user%> 
							</div>
						</td>
<%puts "____________________________________________________________________________________________________"%>

        					<td><font size="2" face="Arial"><b><%= @inviter.get_name %></b> is working on '<%= link_to @tivit.get_parent.get_name,activity_url(@tivit.get_parent, :email => @invitee.get_email) %>' and needs your help!</font>
						</td>
      					</tr>
      					<tr>
        					<td width="50" valign="top">&nbsp;
						</td>
        					<td valign="top"><font size="2" face="Arial">Please help me with <%= link_to @tivit.get_name,activity_url(@tivit, :email => @invitee.get_email) %>.</font>
						</td>
      					</tr>
      					<tr>
        					<td width="50" valign="top">&nbsp;
						</td>
								<%if(!@tivit.get_description.empty?)%>
	             					<td valign="top"><font color="#808080" face="Arial"size="2"><i>"<%=@tivit.get_description%>"</i></font>
	             				<%end%>						
	        					
						</td>
      					</tr>
      					<tr>
        					<td width="50" valign="top">&nbsp;
						</td>
        					<td valign="top">
        					<br>
						<%= link_to image_tag("/images/respond.png"), activity_url(@tivit,:email => @invitee.get_email) %>
						</td>
      					</tr>
    				</table>
    			</td>
  	 	</tr>
	</table>
        	<p>&nbsp;
		</p>
        	<p>&nbsp;
		</p>
       </td>
      </tr>
     </table>
    </td>
   </tr>
  </table>
 </center>
</div>



<%= render :partial => 'email_footer' %>
<small>101 Tivit - New</small>