<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    	
      <%= @inviter.get_name %> needs your help with: '<%=@tivit.get_parent.name%>'.<br/> 
      You've been asked to: <%=@tivit.name%> by  <%= @tivit.due %>.<br/>
      Click here <%= @url %>/activities/<%=@tivit.get_parent.id%> for more detailes.<br/>
    </p>
    <p>Thanks for using tiviti and have a great day!</p>
  </body>
</html>