

<%= @owner.name %> has invited you to participate in a new tivit <%= @tivit.name %>, schedule to be completed by <%= @tivit.due %>.
Click here <%= @url %>/activities/<%=@tivit.id%> for more detailes.
Thanks for using tiviti and have a great day!</p>
