

<%= @owner.name %> has invited to participate in a new tivit <%= @tivit.name %>, schedule to be completed by <%= @tivit.due %>.
Click here <%= @url %>/activities/<%=@tivit.id%> for more detailes.
Thanks for usinf tiviti and have a great day!</p>
