<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    <%= @tivit.get_owner.get_name %>,<br/>
      Just a kind reminder to reviews my request for help with ' <%=@tivit.name%>'.<br/>
    <p/>
    <p>message from <%= @user_reminding.name %>: <%= @message %><br/></p>
       
      
      Click here <%= @url %>/activities/<%=@tivit.id%> for more detailes.<br/>
    </p>
    <p>Thanks</p>
    
    <%= @user_reminding.name %>,<br/>
  </body>
</html>