<%= render :partial => 'email_header' %>



<div align="center">
  <center>
<table border="0" cellpadding="16" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td width="100%">
    <div align="center">
      <center>
      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
        <tr style="font-family: arial,sans-serif; font-size: 90%">
        	
        	             	
        	
          <td width="100%">
<font size=-1>
	
	 
		<%= @assignee.get_name %>, <br>
        <font size="2" face="Arial"><b><%= @assigner.get_name %></b> is OK with <%= @tivit.due %> for finishing '<u><font color="#0000FF"><%= @tivit.get_name%></font></u>'<br>
        
        </tr>
      </table>
      </center>
    </div>
<font size=-1>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
      <tr style="font-family: arial,sans-serif; font-size: 90%">
        <td width="100%">
        <div align="left">
          <table border="0" cellpadding="6" cellspacing="0" style="border-collapse: collapse" "font-family: arial,sans-serif; font-size: 90%">
            <tr>
              <td align="left" valign="top">
              <p align="left">
              </td>
              
        
              
              <td align="left" valign="top">
              	
              <%if(!@comment.empty?)%>
              <div class="avatar">
				<%= render :partial => 'profile_images/profile_image', :collection =>  [@assigner], :as => :user%> 
			</div>
	      
	             <td align="left" valign="top">
       
          
              	<%= @assigner.get_name %> says: 
              	
              	<i><font color="#333333"><%=@comment%> <br></font></i>
              	
              	
              <%end%></td>
              
            </tr>
          </table>
        </div>
        

       <b><%= link_to 'View this tivit', activity_url(@tivit.get_parent) %></b> <br/>
		
        	
        
        <p>&nbsp;</td>
      </tr>
    </table>

</font>
    </td>
  </tr>
</table>
  </center>
</div>



<%= render :partial => 'email_footer' %>
<small>#108 Tivit - New Date Accepted</small>
