<%= render :partial => 'email_header' %>



<div align="center">
  <center>
<table border="0" cellpadding="16" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td width="100%">
    <div align="center">
      <center>
      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
        <tr style="font-family: arial,sans-serif; font-size: 90%">
        	
        	             	
        	
          <td width="100%">
<font size=-1>
	
	 
		<%= @assigner_name.get_name %>, <br>
        <font size="2" face="Arial"><b><%= @assignee.get_name %></b> is asking for a different delivery date for '<u><font color="#0000FF"><%= @tivit.get_name%></font></u>'<br>
         
        How about <b><%= @tivit.get_owner_proposed_date..localtime.strftime("%m-%d-%Y")`` %></b> instead of <%= @tivit.due.localtime.strftime("%b %d, %Y") %></font></font></td>
    
        </tr>
      </table>
      </center>
    </div>
<font size=-1>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
      <tr style="font-family: arial,sans-serif; font-size: 90%">
        <td width="100%">
        <div align="left">
          <table border="0" cellpadding="6" cellspacing="0" style="border-collapse: collapse" "font-family: arial,sans-serif; font-size: 90%">
            <tr>
              <td align="left" valign="top">
              <p align="left">
              </td>
              
        
              
              <td align="left" valign="top">
              	
              <%if(!@comment.empty?)%>
              <div class="avatar">
				<%= render :partial => 'profile_images/profile_image', :collection =>  [@assignee], :as => :user%> 
			</div>
	      
	             <td align="left" valign="top">
       
       
	      
	      
              	<%= @assignee.get_name %> says: 
              	
              	<i><font color="#333333"><%=@comment%> <br></font></i>
              	
              	
              <%end%></td>
              
            </tr>
          </table>
        </div>
        

       <p><%= link_to image_tag("/images/respond.png"), activity_url(@tivit.get_parent) %></p>
        	
        
        <p>&nbsp;</td>
      </tr>
    </table>

</font>
    </td>
  </tr>
</table>
  </center>
</div>



<%= render :partial => 'email_footer' %>
<small>#107 Tivit - New Date Request</small>
