<%= render :partial => 'email_header' %>



<div align="center">
 <center>
  <table border="0" cellpadding="16" cellspacing="0" bordercolor="#111111" width="100%" bgcolor="#FFFFFF">
   <tr>
    <td width="100%">
     <table border="0" cellpadding="8" cellspacing="0" width="100%" style="border-collapse: collapse" bordercolor="#111111">
      <tr>
       <td width="100%">
	<table border="0" cellpadding="4" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">

  		<tr>
    			<td width="100%"><font size="2" face="Arial">Hi <%= @assigner.get_name %>,</font>
			</td>
  		</tr>

  		<tr>
    			<td width="100%">
			
				<table border="0" cellpadding="2" cellspacing="0" style="border-collapse:collapse" bordercolor="#111111" width="100%">	
					<tr>
        					<td width="50">
							<div class="avatar"><%= render :partial => 'profile_images/profile_image', :collection =>  [@assignee], :as => :user%> 
							</div>
						</td>
<% puts "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^   11111"%>
        					<td><font size="2" face="Arial"><b><%= @assignee.get_name %></b> is asking for a different delivery date for '<u><font color="#0000FF"><%= @tivit.get_name%></font></u>'<br>
        <%if @tivit.get_due_date != nil%>
        	How about <b><%= @tivit.get_owner_proposed_date.localtime.strftime("%m-%d-%Y")%></b> instead of <%= @tivit.get_due_date.localtime.strftime("%b %d, %Y") %>?</font></font></td>
        <%else%>
	        I can get it done by <b><%= @tivit.get_owner_proposed_date.localtime.strftime("%m-%d-%Y")%></b>?</font></font></td>
	 
        <%end%>
     
    
						</td>
      					</tr>
      					<tr>
        					<td width="50" valign="top">&nbsp;
						</td>
        					<td valign="top"><font size="2" face="Arial">
        						<%if(!@comment.empty?)%>
             						<%= @comment %>"
              					<%end%>
              				</td>
        				</td>
      					</tr>
      					<tr>
        					<td width="50" valign="top">&nbsp;
						</td>
        				</tr>
      					<tr>
        					<!--td width="50" valign="top">&nbsp;</td-->
        					<td valign="top">
        					<br>
						<font size="2" face="Arial"><%= link_to image_tag("/images/respond.png"), activity_url(@tivit.get_parent) %></font>
								
						</td>
      					</tr>
    				</table>
    			</td>
  	 	</tr>
	</table>
        	<p>&nbsp;
		</p>
        	<p>&nbsp;
		</p>
       </td>
      </tr>
     </table>
    </td>
   </tr>
  </table>
 </center>
</div>



<%= render :partial => 'email_footer' %>
<small>105 Tivit - New Date Requested</small>

