<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= @user.name %> has <%=@status%> your tivit <%= @tivit.name %><br/>
       <%= @message %>
      Click here <%= @url %>/activities/<%=@tivit.id%> for more detailes.<br/>
    </p>
    <p>Thanks for using tiviti and have a great day!</p>
  </body>
</html>