<%= render :partial => 'email_header' %>
<%= @user.name %> indicated he/she completed their tivit '<%= @tivit.name %>' in activity '<%=@tivit.get_parent.name%><br>
       <%= @comment %><br>
		Click here <%= @url %>/activities/<%=@tivit.id%> to view activity progress.
    </p>
    <p>Thanks for using tiviti and have a great day!</p>
 <%= render :partial => 'email_footer' %>
    
