<%= render :partial => 'email_header' %>

tivit '<%= @tivit.name %>' was marked as completed by <%= @user.name %> <br>
Tivit Summary: <%=@summary %><br>
Click here <%= @url %>/activities/<%=@tivit.id%> for more details.
    </p>
    <p>Thanks for you assistance on this tivit! </p>
<%= render :partial => 'email_footer' %>

    
