<%= render :partial => 'email_header' %>


<div align="center">
  <center>
<table border="0" cellpadding="16" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td width="100%">
    <div align="center">
      <center>
      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
        <tr style="font-family: arial,sans-serif; font-size: 90%">
        	
        	 
       		<td width="100%"><%= @inviter.get_name %>,<b> </b>
          <p>We wanted to let you know that <b><%= @invitee.get_name%></b> has accepted your request 
          for help with <b><%= @tivit.name %></b> for activity <%= link_to @tivit.get_parent.name, activity_url(@tivit.get_parent) %>
    
          <font color="#0000FF">. </font>&nbsp;Go Team!<br> 	 
        	 
        </tr>
      </table>
      </center>
    </div>
<font size=-1>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
      <tr style="font-family: arial,sans-serif; font-size: 90%">
        <td width="100%">
        <div align="left">
          <table border="0" cellpadding="6" cellspacing="0" style="border-collapse: collapse" "font-family: arial,sans-serif; font-size: 90%">
            <tr>
              <td align="left" valign="top">
              <p align="left">
              </td>
              
         <div class="avatar">
		<%= render :partial => 'profile_images/profile_image', :collection =>  [@invitee], :as => :user%> 
	</div>
	    
              
              <td align="left" valign="top">
              <%= @invitee.get_name %> says: '<%= @comment %>'"</td>
            </tr>
          </table>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</td>
      </tr>
    </table>

</font>
    </td>
  </tr>
</table>
  </center>
</div>


<%= render :partial => 'email_footer' %>
<small>#105 Tivit - Started</small>

    
