<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
<%= @user.name %> indicated he/she completed their share in the tivit '<%= @tivit.name %>'<br>
       <%= @summary %><br>
		Click here <%= @url %>/activities/<%=@tivit.id%> to view tivit progress.
    </p>
    <p>Thanks for using tiviti and have a great day!</p>
  </body>
</html>

    
