<div id="sign-in-up-box"> 
	
	<h1>tiviti</h1>
	
	<div id="sign-in-up-form">	
		<%= form_for(resource, :as => resource_name,:action =>"create", :url => 'sign_in') do |f| %>
		
		<div class ="fieldset">			
			
			<div class="label">
					<%= f.label :email %>
			</div>
			
			<%= f.email_field :email, :class => "input", :autofocus => "true" %>
				
			<div class="clear"></div>
			
			<div class="label">
					<%= f.label :password %>
			</div>
			
			<%= f.password_field :password, :class => "input" %>
				
			<div class="clear"></div>
	        
			<% if devise_mapping.rememberable? -%>
				<%= f.check_box :remember_me, :checked => "checked" %> <%= f.label :remember_me %>
	  		<% end -%>
	  		
	  		<div><%= f.submit "Sign in", :class => "button" %></div>
	  		
		<% end %>
		
		<br />
		<br />
					
		<%= render :partial => "my_devise/shared/links" %>
			
	</div>
  
  </div>
  
  <div id="remote">
	<b>Or, sign in with</b>
        <div id="authentication_services" class="box">
        	<a href="/auth/facebook"><%= image_tag "facebook_64.png", :size => "64x64",  :alt => "Facebook", :class =>  "authentication_services" %></a>
            <a href="/auth/google"><%= image_tag "google_64.png", :size => "64x64",  :alt => "Google", :class =>"services" %></a>            
        </div>
    </div>
</div>

  