<!-- Displaying users current users is collaboration with-->

	<div class="avatar">
		<%= render :partial => 'profile_images/profile_image', :collection =>  [user], :as => :user%>
	
		
	</div>
	<div class="text">
		<div class="activity">
		   <% if false %>

				<div class="happy-path-button">
					
					<%= link_to "respond >", nil, :action => "show",
	  									   :method => "get"
	                                        %>     
	                                       
					
				</div>
			
						  	
			<% end %>
		  	  
		</div>
		<div class="wrapp">
			<div class="twr">
	              
	              
	              <h3>    <%= link_to "test 6" , nil, :action => "show",
	  									   :method => "get",
	                                       :title  => "delete" %>       	
	              </h3>
	              
	              <% status_line = "test 1" %>
	             	             
					<!-- all gray status lines -->
					<span class="grey">
	              		
	              		<% if true%>
		              		<%= "tivit_owner_name" %> 
							<font color="red"><%= "status_line_middle" %></font>
							
							<!-- only tivit creator and activity owner can accept new time proposed. The only exception is when activity owner request a new time for a tivit s/he got assigned -->						
						<!-- overdue -->
					    	<%= status_line %>
	              		
	              		<% end %>
	              		
	              		<!-- add remind if user didn't read or did respond yet -->
	              		
		              		
			              			[invited by <"test 2">,  <%= "test 4"%> ago]
			              		    			
	              		
	              	
	              </span>
	         
            </div>
		</div>
	                                
		
		
	</div>
	<div class="clear"></div>
</li>
		            


