
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
     <%= render :partial => 'profile_images/profile_image', :collection =>  [@user], :as => :user%> 
	 </h1>
      
      <h1>
      	 <%= link_to "Edit Profile Picture",:controller  => "profile_images", 
   											:action      => "edit",
   										    :id          => @user.id, 
  							    			:title       => "Edit picture for "+ @user.name %>
      </h1>
      
      
      <h1>
      <%= link_to "Edit Personal Date", edit_user_path(current_account.user) %>
      </h1>
      
      
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>email</strong> <%= @user.get_email %><br />
      <strong>URL</strong>  <%= link_to "My account", user_path(@user) %>
      
	  
	</td>
    
  </tr>
</table>


