<!--sssss  -->
<% me = current_account.user %>

			
<% myTotalNumberOfTasks = @newTasksForMe.size + @openTasksForMe.size + @completedTasksForMe.size %>
			

<% totalTasksIAssigned = @newTasksForOther.size + @openTasksForOther.size + @completedTasksForOther.size %>
				
		

<div class="activities">
	<!-- Top Activities Panel -->
	<div class="act-main" id="activity-header">
		<input type="hidden" activityid="<%= 1 %>">
		
		<div class="avatar">
			<!-- <img class="avatar" src="images/act_avatar.gif" alt="Don-profile"> -->
			<!--%= render :partial => 'profile_images/profile_image', :collection =>  [activitydetails.get_owner], :as => :user, :class => "avatar" %-->
			<%= profile_image(@other_user)%>
		  
			
		</div>
		<div class="info">
			
			<!-- Activity Name -->

			<h1>Collaborating with <font color="blue"><%= @other_user.get_name %></font>
							 </h1>
			
			<p><small><b>You have <%= @newTasksForMe.size + @openTasksForMe.size + @newTasksForOther.size + @openTasksForOther.size %> open tasks between you and <%=@other_user.get_name%> </b> </small></p>
			
			<p class="progress-complete">
				<span>
	        </p>                                        
    		</br>  
 	  	
		</div>
		</div>
		
		
	</div>
	

	<div class="body">
		
		<div class="leftCol">
			
			<div class="clear"></div>
			
			<!-- Tasks Assign to me by other user-->
			
			<% if (myTotalNumberOfTasks > 0) %>
				<div class="tivits main-tivit" id="alltivits">
					<h2>You have <span><%= @newTasksForMe.size + @openTasksForMe.size %></span> tasks you agreed to help <b><%=@other_user.get_name %></b>  with </h2>
					<div class="tvit-list" id="mytivits">						
						
						<% if @newTasksForMe.size > 0 %>
						<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  @newTasksForMe, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
						</ul>
						<% end %>
						<% if @openTasksForMe.size > 0 %>
							<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  @openTasksForMe, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
							</ul>
						<% end %>
						<% if @completedTasksForMe.size > 0 %>
							<ul class="list additional-tivits hide"">
								<%= render :partial => 'shared/task_db', :collection =>  @completedTasksForMe, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
								<%#= will_paginate completedTasksForMe %>
							</ul>
							<p class="show-other-tasks">Show last <%= @completedTasksForMe.size %> completed tasks</p>
						<% end %>						
					</div>
					
			<%else%>
				<div class="tivits main-tivit" id="alltivits" style="background:none" >
				
			<%end%>
				
				
			<!-- End of Main Tivits -->
			</div> <!-- My tivits -->
			
				<% if (totalTasksIAssigned > 0) %>
				
				<div class="team tivits" id="team-tivits">
					<h2>There are  <span><%= @openTasksForOther.size + @newTasksForOther.size %></span> tasks you asked <b><%=@other_user.get_name %></b> to help you with</h2>
					<div class="tvit-list" id="teamtivits">
					
						
						<% if @newTasksForOther.size > 0 %>
						<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  @newTasksForOther, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
						</ul>
						<% end %>
						
						<% if @openTasksForOther.size > 0 %>
							<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  @openTasksForOther, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
							</ul>
						<% end %>
						
						
						<% if @completedTasksForOther.size > 0 %>
							<ul class="list additional-tivits hide"">
								<%= render :partial => 'shared/task_db', :collection =>  @completedTasksForOther, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
							</ul>
							<p class="show-other-tasks">Show last <%= @completedTasksForOther.size %> completed tasks</p>
						<% end %>
					</div>
				
				<% else %>
					<div class="team tivits" id="team-tivits" style="background:none">
				<%end%>
				
			</div> <!-- team tivits --> 
				
		</div> <!-- "leftCol" -->
	
	</div> <!-- "body" -->
	
</div> <!--"activities" --> 
