<%= form_tag(:controller => "activities", :method => "post") do %>

  <div class="field">
  	<%= label_tag(:name, "Name:") %> <%= text_field_tag(:name) %> 
  </div>
  
  
  
  <div class="field">
  	<%= label_tag(:description, "Details:") %><%= text_area_tag(:description) %> 
  </div>
  
  
  <div class="field">
  	<%= label_tag(:who, "invite others (email):") %><%= text_field_tag(:who) %> 
  </div>
  
  <div class="field">
    <%= label_tag(:due, "activity due:") %>
  	<%= select_date Date.today, :prefix => :due %>
</div>

  <div class="actions">
  <%= submit_tag("Add tivit") %>
  </div>

<% end %> 
