<% if activity_db.get_owner.id == current_account.user.get_id %>
	<% activityOwner = "You" %>
<% else %>
	<% activityOwner = activity_db.get_owner.name %>
<% end %>
								
<div class="tivits top-tivit">
	<div class="tvit-list">
		<ul class="list">
			<li class="record inprog">
				<div class="conteiner">	
					
					<!-- note that in order to use the _tivit_date partial, the calendar for activites needs to float on the right so passing local variable :datetype -->
					<%= render :partial => 'shared/tivit_date', :collection =>  [activity_db], :as => :tivit, :locals => {:datestyle => 'float:right'} %> 
					<!-- 
					<div class="calendar date beyondaweek" style="float:right">
						<div class="w-day">May</div>
						<div class="text">26</div>
					</div>
					-->
					<% if activityOwner == "You" && activity_db.get_number_of_tivits > 0 %>
						<div class="statistic">
							<div class="perc"><%=(( 100 * activity_db.get_number_of_completed_tivits) / activity_db.get_number_of_tivits)%>%</div>
							<%= activity_db.get_number_of_completed_tivits %> of <%= activity_db.get_number_of_tivits %> completed
						</div>
					<% end %>
					<div class="avatar read">
						<%#= render :partial => 'profile_images/profile_image', :collection =>  [activity_db.get_owner], :as => :user %>
								<%= profile_image(activity_db.get_owner)%>  
					</div>
					<div class="text">
						<div class="text-conteiner" style="cursor: pointer;">
							<h3>
								<%= link_to activity_db.name, activity_db, :action => "show",
	  									   :method => "get",
	                                       :title  => activity_db.name,
	                                       :class => "activity-name" %>			
							</h3>
							<span class="grey">
								<% if activityOwner == "You" %>
									This is your Activity
								<% else %>
									You are helping <strong><%= activityOwner %></strong>
								<% end %>
							</span>
						</div> <!-- text-container -->
					</div> <!-- text -->
														
					<div class="clear"></div>
				</div><!-- conteiner -->
												  		
			</li>
		</ul>
	</div>
</div>

<!-- Render all tasks within the specific activites:
	
	1. If logged in user is the owner of the activity: show all open tasks and hide completed tasks.
	2. If logged in user is NOT the activity owner - show ONLY his tasks, all team tasks should be hidden 
	
-->
<% if activity_db.tivits !=nil && activity_db.tivits.size > 0 %>
	        	
	<div class="tivits sub-tivits">
		<div class="tvit-list">
			<ul class="list">
																															
																																
				
				<% if activityOwner == "You" %>
<!-- ILAN: need an array here with all the open tasks in the specific activity since the user owns it i used an existing method exclude my tivit i have not agreed to help with-->
					<% openTasks = activity_db.get_open_tivits(current_account.user) %>
		
					<% if openTasks != nil %>
						<%= render :partial => 'shared/task_db', :collection =>  openTasks, :as => :my_task, :locals => {:taskContext => 'activitiesTabDashboard'} %>
					<% end %>
				<% else %>
<!-- ILAN: need an array here with all the open tasks for the logged in user in the specific activity exclude my tivit i have not agreed to help with -->
					<% myOpenTasks = activity_db.get_my_open_tivits(current_account.user) %>
					<% if myOpenTasks != nil %>
						<%= render :partial => 'shared/task_db', :collection =>  myOpenTasks, :as => :my_task, :locals => {:taskContext => 'activitiesTabDashboard'} %>
					<% end %>
				<% end %>
				
			</ul>
			
			<!-- Now render the hidden tasks -->
			<ul class="list additional-tivits hide">
				<% if activityOwner == "You" %>
					<!-- ILAN-done: need an array here of all the completed tasks in this activity -->
					<% completed_tasks = activity_db.get_completed_tivits %>
					
					<% if completed_tasks != nil %>
						<%= render :partial => 'shared/task_db', :collection =>  completed_tasks, :as => :my_task, :locals => {:taskContext => 'activitiesTabDashboard'}  %>
					<% end %>
					<!-- ILAN-done: update the size so we can count them -->
					<% numberOfHidden = completed_tasks.size %>
				<% else %>
					<!-- ILAN-done: need an array here of all the other team tasks in this activity -->
					<% team_tasks = activity_db.get_team_tivits(current_account.user) %>
					
					<% if team_tasks != nil %>
						<%= render :partial => 'shared/task_db', :collection =>  team_tasks, :as => :my_task, :locals => {:taskContext => 'activitiesTabDashboard'}  %>
					<% end %>
					<!-- ILAN-done: update the size so we can count them -->
					<% numberOfHidden = team_tasks.size %>
				<% end %>
			</ul>
			
			<% if numberOfHidden > 0 %>
				<% if activityOwner == "You" %>
					<p class="show-other-tasks">Show <%= numberOfHidden %> completed tasks</p>
				<% else %>
					<p class="show-other-tasks">Show <%= numberOfHidden %> other team tasks</p>
				<% end %>
			<% end %>
				
		</div>
	</div>
		    	
<%end%>

						

