<div class="tvit-day">
	


<!-- if on dec checking to see if there are any tivits to display. If not do not display activity -->
	<%if @filter_id == "1" %>
	<!-- on deck -->
	    <% @tivits = activity_db.get_on_deck_tivits(current_account.user) %>
	    
	<%elsif @filter_id == "2" %>
		<% @tivits = activity_db.get_all_my_open_tivits(current_account.user)%>
		   
	<%elsif @filter_id == "3" %>
	<!-- No Response -->
		<% @tivits = activity_db.get_unresponded_tivits(current_account.user) %>
		
	<%elsif @filter_id == "4" %>
		<% @tivits = activity_db.get_open_tivits %>
	<%end%>
	
	<%if (@tivits == nil || @tivits.size == 0)%>
		<%if @filter_id == "3"%>
		<!-- Do not show empty activities (all closed) for No Response filter -->
			<%return%>
		<%else%>
		<!-- Do not show empty activities (all closed) if user is not the owner-->
			<%if !activity_db.isOwner?(current_account.user)%>
				<%return%>
			<%end%>
		<%end%>
	<%end%>
	
	
	
	<% due_time_window = activity_db.get_due_window_from_now %>

 	<% if activity_db.due == nil %>
<!-- no date specified -->
		<div class="calendar date pastDay">
	
	<% elsif due_time_window == "overdue" %>
<!-- activity is overdue -->
		<div class="calendar date earlyDay">
			<div class="week"><%= ((Time.now.end_of_day - activity_db.due.localtime.end_of_day)/(3600*24)).to_i %></div>
			<div class="text">days ago</div>
			
	<% elsif due_time_window == "today" %>
<!-- activity due today -->
	 	<div class="calendar today">
	 		<div class="text">Today</div>
	 		
	<% elsif due_time_window == "tomorrow"  %>
<!-- activity due tomorrow -->
	 	<div class="calendar tomorrow">
	 		<div class="text">Tom.</div>
	 		 		
	<% elsif due_time_window == "withinaweek" %>
<!-- activity due within a week -->
		<div class="calendar date nearlyDay">
			<div class="week"><%= (activity_db.due.strftime ("%a")).upcase %></div>
		    <div class="text"><%= activity_db.due.strftime ("%d") %></div>
			
	<% else %>
<!-- activity due within more than a week -->
		<div class="calendar date beyondaweek">
		<div class="text"><%= activity_db.due.strftime ("%m-%d") %></div>
		
	<%end%>
	
	
		
	</div>	                
	                       
	<div class="tvit-list">
		<div class="label">
	    	<div class="progress">
	    		<%unless activity_db.get_number_of_tivits == 0%>
	            	<strong> <%=(( 100 * activity_db.get_number_of_completed_tivits) / activity_db.get_number_of_tivits)%>%</strong>
	            	(<%= activity_db.get_number_of_completed_tivits %>/<%= activity_db.get_number_of_tivits %> tivits completed)
	        		
	        	<%end%>   
	        </div>
	        <% if activity_db.due != nil %>	
		<!-- 
		due local = <%= activity_db.due.localtime %>
		due = <%= activity_db.due %>
		time.now = <%= Time.now %>	
		--> 
	<% end %>
	
	        <%= link_to activity_db.name, activity_db, :action => "show",
	  									   :method => "get",
	                                       :title  => activity_db.name,
	                                       :class => "activity-name" %>
	                                       
	                        (by <%= (activity_db.get_owner).name %>)
	    </div>
	        
	        <!-- If activity has tivits, go a head and rended all the tivits in that activity -->
	        
<% if activity_db.tivits !=nil && activity_db.tivits.size > 0%>
	        	
		<ul class="list">
			<!--%= render :partial => 'shared/tivit_db', get_need_attention_tivits (nil)
					   :collection =>  activity_db.tivits.joins(:tivit_user_statuses).where("tivit_user_statuses.user_id = activities.owner_id AND ((NOT tivit_user_statuses.status_id = 'Done') OR ((tivit_user_statuses.status_id = 'Done' AND tivit_user_statuses.last_status_change > ?)))",Time.now.localtime-1.day), 
					   :as => :tivit  %!-->
			
			<%if (tabview != nil && tabview == "Need Attention") %>
				<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.get_need_attention_tivits(current_account.user), :as => :tivit  %>
																												
			<%elsif (tabview == "Requests")%>
				<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.get_requests_tivits(current_account.user)       , :as => :tivit  %>
																					  
																												
			<%elsif (tabview == "Completed")%>

				<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.get_closed_tivits       , :as => :tivit  %>
			<%else%>
				<%= render :partial => 'shared/tivit_db', :collection =>  @tivits, :as => :tivit  %>
				
					
			<%end%>
			<!--%= render :partial => 'shared/tivit_db', :collection =>  activity_db.tivits.where("status = 'Completed' AND completed_at > )"), :as => :tivit  %-->
		      
		</ul>
		    	
<%end%>
		    
		</div>
	                	   
</div>

