<div class="tvit-day">

<!-- for today use the folloiwng divs 
	<div class="calendar today">
		<div class="text">today</div>
	</div>
-->

 	<div class="calendar date earlyDay">
		<%if (activity_db.due != nil && activity_db.due.inspect.size > 0 )%>
			<div class="week"><%= (activity_db.due.strftime ("%a")).upcase %></div>
	    	<div class="text"><%= activity_db.due.strftime ("%d") %></div>
	    <%end%>
	</div>	                
	                       
	<div class="tvit-list">
		<div class="label">
	    	<div class="progress">
	    		<%unless activity_db.get_number_of_tivits == 0%>
	            	<strong> <%=(( 100 * activity_db.get_number_of_completed_tivits) / activity_db.get_number_of_tivits)%>%</strong>
	            	(<%= activity_db.get_number_of_completed_tivits %>/<%= activity_db.get_number_of_tivits %> tivits completed)
	        		
	        	<%end%>   
	        </div>
	        
	        <%= link_to activity_db.name, activity_db, :action => "show",
	  									   :method => "get",
	                                       :title  => activity_db.name,
	                                       :class => "activity-name" %>
	                                       
	                        (by <%= (activity_db.get_owner).name %>)
	    </div>
	        
	        <!-- If activity has tivits, go a head and rended all the tivits in that activity -->
	        
<% if activity_db.tivits !=nil && activity_db.tivits.size > 0%>
	        	
		<ul class="list">
			<!--%= render :partial => 'shared/tivit_db', get_need_attention_tivits (nil)
					   :collection =>  activity_db.tivits.joins(:tivit_user_statuses).where("tivit_user_statuses.user_id = activities.owner_id AND ((NOT tivit_user_statuses.status_id = 'Done') OR ((tivit_user_statuses.status_id = 'Done' AND tivit_user_statuses.last_status_change > ?)))",Time.now.localtime-1.day), 
					   :as => :tivit  %!-->
			
			<%if (tabview != nil && tabview == "Need Attention") %>
				<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.get_need_attention_tivits(current_account.user), :as => :tivit  %>
																												
																												
			<%elsif (tabview == "Completed")%>
				<%= render :partial => 'shared/tivit_db', :collection =>  []       , :as => :tivit  %>
			<%else%>
				<%if(@filter_id == "4")%>
					<%puts " my tivits = true"%>
					<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.get_all_my_tivits(current_account.user)       , :as => :tivit  %>
				<%elsif @filter_id == "3"%>
					<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.get_all_my_open_tivits(current_account.user)       , :as => :tivit  %>
				
				<%else%>
					<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.get_open_or_recently_done_tivits       , :as => :tivit  %>
				<%end%>
					
			<%end%>
			<!--%= render :partial => 'shared/tivit_db', :collection =>  activity_db.tivits.where("status = 'Completed' AND completed_at > )"), :as => :tivit  %-->
		      
		</ul>
		    	
<%end%>
		    
		</div>
	                	   
</div>

