<div class="tvit-day">

<!-- for today use the folloiwng divs 
	<div class="calendar today">
		<div class="text">today</div>
	</div>
-->

 	<div class="calendar date earlyDay">
		<div class="week"><%= (activity_db.due.strftime ("%a")).upcase %></div>
	    <div class="text"><%= activity_db.due.strftime ("%d") %></div>
	</div>	                
	                       
	<div class="tvit-list">
		<div class="label">
	    	<div class="progress">
	            	<strong>static%</strong>
	                	<%= activity_db.get_activity_tivit_status %> (temp) 
	        </div>
	        
	        <%= link_to activity_db.name, activity_db, :action => "show",
	  									   :method => "get",
	                                       :title  => activity_db.name,
	                                       :class => "text" %>
	                                       
	                        - 3 tivits to complete (static)
	    </div>
	        
	        <!-- If activity has tivits, go a head and rended all the tivits in that activity -->
	        
<% if activity_db.tivits !=nil && activity_db.tivits.size > 0%>
	        	
		<ul class="list">
	
			<%= render :partial => 'shared/tivit_db', :collection =>  activity_db.tivits, :as => :tivit  %>
		        
		</ul>
		    	
<%end%>
		    
		</div>
	                	   
</div>

