
<div id="new-activity">
	
	<% form_tag({:controller => "activities", :method => "post"}, :id => "new-activity-form") do %>
                   
	<!-- Acitivity Name -->
	<div class="field">
			<div class="field-label">
				<%= label_tag(:name, "New Activity:") %>
			</div>
		<%= text_field_tag(:name, nil, :placeholder => "enter name...", :class => "input-name required") %>
	</div>
 
	<!-- The complete Activiti form, opened upon activity name on focus --> 
	<div id="new-activity-complete">

    	<!-- Acitivity need it by -->
    	<div class="field">

			<%= label_tag(:due, "Need it by: ", :class => "field-label") %>		
	     	<%= text_field_tag(:due, nil, :placeholder => "choose date", :class => "input-date") %> 
	     	<img src="images/cal.gif" onclick="javascript:NewCssCal('due', 'mmddyyyy', 'arrow')" class="ico_calc" style="cursor:pointer"/>
	
        </div>

    	<!-- Acitivity Description -->
        <div class="field" id="tivitdescription">
        	<div class="field-label">
            	<%= label_tag(:description, "What: ", :class => "field-label") %>
            </div>
           	<%= text_area_tag(:description, nil, :class => "input-description" ) %> 
        </div>
                
         <!-- Attachments -->
         <!-- 
         <div class="field">
         	<div class="field-label">
            	<label class="field-label" for="description">Attachments: </label>
            </div>
            <div class="add-file"><%= label_tag(:file, "add a file") %></div>
          -->   
              <!--%= file_field :document, :uploaded_data %-->
        <!--  </div> -->
                       
		<!-- Action Buttons -->
        <div class="field">
        	<div class="buttons">
            	<span class="form-cancel-button">Cancel</span>
                	<%= submit_tag("Create Activity", :class => "form-button") %>
            </div>
        </div>
	</div>
	<% end %>
</div>