
<div id="tivit-container">

	<div id="tivit-container-background">
		
		<div id="tivit-avatar">
			 <%= render :partial => 'profile_images/profile_image', :collection =>  [activitydetails.get_owner], :as => :user%> 
		</div>


	<div id="tivit-title" class="text">
			
			<h1><%= activitydetails.name %> </h1>
		<small>by <%= activitydetails.get_owner.email %> </small>
		
			
			<% if activitydetails.due!=nil %>
   				<% if activitydetails.due > Time.now %>
      				<span class="timestamp">Needed by: <%= time_ago_in_words(activitydetails.due) %> </span>
   				<% else %>
   					<span class="timestamp">Activity <%= time_ago_in_words(activitydetails.due) %> ovberdue! </span>
   				<% end %>
   			<% else %>
   				<span class="timestamp">DUE DATE == Nil  </span>
   				
   			<% end %>                                                   
		</div>			
	</div>
</div>

<tr>
  <td class="activity">

    <span class="content">Summary: <%= activitydetails.description %></span><br>
    

    <span class="timestamp">tivit created <%= time_ago_in_words(activitydetails.created_at) %> ago.</span><br>
  </td>
  <td>
  	<!--span class="content">My status : <%= activitydetails.get_user_status(current_user) %>:<%= activitydetails.get_user_status_comment(current_user) %> </span--><br> 			
   	<span class="content">Activity Status : </span> 			
   	
  	<% if activitydetails.status == "Completed" %>
 			<span class="content"> Completed !</span><br>
 			<span class="content">Tivit Summary : <%= activitydetails.summary%> </span><br> 			
   			
 			<% if activitydetails.completed_at!=nil %>
				<span class="timestamp">tivit was completed <%= time_ago_in_words(activitydetails.completed_at) %> ago </span> 			
   			<% end %> 
  	<% else %> 
 			<span class="content"> In Progress </span><br>
 			 
  	<% end %> 
   
  </td>
  
  
  <td>
  	
  <% if current_user.id == (activitydetails.owner_id) %>
  	<%= link_to "edit", edit_activity_path(activitydetails) %>
  	
    <%= link_to "delete", activitydetails, :method => :delete,
                                     :confirm => "You sure you want to delete" +activitydetails.name+"?",
                                     :title => activitydetails.name %>
                                     
                                     
    </br>                                
	
	
	 <h1><%= link_to "Add a tivit", 		:controller  => "activities", 
   											:action      => "new_tivit",
   											:id          => activitydetails.id, 
  							    			:title       => activitydetails.name %>,<h1>
  <% end %>
  
  
			  
  <br>
                                      
   <% if current_user.id != (activitydetails.owner_id) %>

<!-- this action is not working yet-->
	<%= link_to "Completed",    :controller  => "activities",
    							:action      => "change_tivit_status",
    							:status      => "Completed",
    							:id          => activitydetails.id, 
  							    :confirm     => "Are you sure you want to mark activity as completed" +activitydetails.name+"?",
                                :title       => activitydetails.name %>

  <% end %>
  
  
  </td>
</tr>
<tr>

  <td>

	
<!-- Displying list of My Tivits-->  	
 <span class="content">
 	<% mytivits = activitydetails.tivits.where("owner_id = ? " ,current_user.id)%>
	<% if mytivits !=nil && mytivits.size > 0%>
		<h1><%= mytivits.size %> My Tivits</span></h1>
		<%= render :partial => 'shared/tivit', :collection =>  mytivits %> 
	<%end%>

<!-- Displying list of Team Tivits-->
	
<% teamtivits = activitydetails.tivits.where("NOT owner_id = ? " ,current_user.id)%>
	<% if teamtivits !=nil && teamtivits.size > 0%>
		<h1><%= teamtivits.size %> Team Tivits</span></h1>
		<%= render :partial => 'shared/tivit', :collection =>  teamtivits %> 
	<%end%>
  </td>
</tr>