<title>Home</title>

<!-- Create new activity form only for logged in users The second condition is to make sure not to display new activity when creating a new tivit -->  
<% if signed_in? && !(controller.controller_name=="activities" && controller.action_name == "new_tivit")%>
	
	<div id="new-activity-background">
		<div id="new-activity">
			<%= render 'activities/activity_form',:collection =>  [Activity.new], :as => @activity, :locals => {:activity => @activity} %>
		</div>
	</div>
	
<% end %>

<div id="homepage-tivit-list-container">
	
    <div class="filter">
        <dl>
            <dt>Filter:</dt>
            <dd>
	            <% form_tag(:controller => "pages", :action => "filter", :method => "put") do %>
	            	<%= select_tag(:filter_id, options_for_select([['All', 1], ['My Activities', 2]],1)) %>
					<%= submit_tag("Show") %>
	            	
	           	<% end %>            
            </dd>
            
            
        </dl>
    </div>
	
	<div id="tivit-container" class="tab-content">

		<div class="tabs">
             <div class="status">You have <%= @tivits_ondeck.count%> activities / tivits </div>

			<ul id="tabs-nav">
				<li class="tab open">
	                <a href="#tivit-desk">On Deck</a>
	            </li>
	            <li class="tab">
	                <a href="#completed-items">All Completed</a>
	                <i><%=@tivits_completed.count%></i>
	            </li>
	            
            	<li class="tab">
	                <a href="#need-attention">Needs Attention</a>
	                <%if @need_attention_activities.count > 0%>
	                	<i><%=@need_attention_activities.count%></i>
	                <%end%>
            	</li>
            	
            </ul>
        </div>
    
   		<!-- This is the div that holds the On Deck/All Updates/New Requests tab Content -->    
		<div class="tabContent">
					
	        <div id="tivit-desk" class="tivit-desk tabInfo"> 

			<% unless @tivits_ondeck == nil %>
			 
			     <%= render :partial => 'shared/activity_db', :collection =>  @tivits_ondeck, :locals => {:tabview => "On Deck"} %>
		     
			<% end %>

			</div>

			<div id="completed-items" class="completed-items tabInfo">
				<% unless @tivits_completed == nil %>
					<%= render :partial => 'shared/activity_db', :collection =>  @tivits_completed,:locals => {:tabview => "Completed"} %>
				<% end %>
			</div>
			
			<div id="new-requests" class="new-requests tabInfo">
				<% unless @tivits_new == nil %>
				 
				     <%= render :partial => 'shared/activity_db', :collection =>  @tivits_new,:locals => {:tabview => "New"} %>
			     
				<% end %>
			</div>
		
			<div id="need-attention" class="need-attention tabInfo">
				<% unless @need_attention_activities == nil %>
				 
				     <%= render :partial => 'shared/activity_db', :collection =>  @need_attention_activities,:locals => {:tabview => "Need Attention"} %>
			     
				<% end %>
			</div>
		</div>  
	</div>
</div>
 
 		
	
