<title>Home</title>

<!-- Create new activity form only for logged in users The second condition is to make sure not to display new activity when creating a new tivit -->  
<% if signed_in? && !(controller.controller_name=="activities" && controller.action_name == "new_tivit")%>
	
		
	<div id="new-activity-background">
		
		<div id="new-activity">
			<%= render 'activities/activity_form',:collection =>  [Activity.new], :as => @activity, :locals => {:activity => @activity} %>
		</div>
		
		
		
	</div>
	
	
<% end %>


<div id="homepage-tivit-list-container">
	
    <div class="filter">
        <dl>
            <dt>Filter:</dt>
            <dd>
	            <% form_tag(:controller => "pages", :action => "home", :method => "put") do %>
	            	<%= select_tag(:filter_id, options_for_select([['On Deck', 1],['My Open tivits', 2], ['No Response', 3],['All Open tivits', 4]],account_session[:filter_id])) %>
	            	<!-- %= select_tag(:filter_id, options_for_select([['My Priorities', 1],['Just My Tivits', 3], ['My Activities', 2],['All My tivits', 4],['All tivits', 5]],account_session[:filter_id])) %-->
					
					<%= submit_tag("Show") %>
	            	
	           	<% end %>
	           	
            </dd>
            
            
        </dl>
        
    </div>
	
	
	
	<div id="tivit-container" class="tab-content">

		<div class="tabs">
             <!-- <div class="status">You have <%#= @tivits_ondeck.count%> activities / tivits </div> -->

			<ul id="tabs-nav">
				<li class="tab open">
	                <a href="#tivit-desk">Summary</a>
	            </li>
	    		<li class="tab">
	                <a href="#tivit-incoming">Requests</a>
	                <% count = Activity.get_num_of_requests_tivits(current_account.user)%>
	                	
	      			<%if count > 0%>
	                	<i><%=count%></i>
	                <%end%>
          
	            </li>
	    
	            <li class="tab">
	                <a href="#completed-items">Completed</a>
	            </li>
	            
            	<!--li class="tab"-->
	                <!--a href="#need-attention">Needs Attention</a-->
	                <%if false && @need_attention_activities.count > 0%>
	                	<i><%=@need_attention_activities.count%></i>
	                <%end%>
            	<!--/li-->
            	
            </ul>
            
            <!-- draw new activity FTE if user doesn't own any activity -->
            <% if !current_account.user.does_own_activity? %>
				<div id="newactivityFTE">
				</div>
			<% end %>
		
        </div>
    
   		<!-- This is the div that holds the On Deck/All Updates/New Requests tab Content -->    
		<div class="tabContent">
					
	        <div id="tivit-desk" class="tivit-desk tabInfo"> 

			<% unless @activities_summary == nil %>
			 
			     <%= render :partial => 'shared/activity_db', :collection =>  @activities_summary, :locals => {:tabview => "Summary"} %>
		     
			<% end %>

			</div>

   		<div id="tivit-incoming" class="tivit-incoming tabInfo"> 

			<% unless @incoming_activities == nil %>
			<% puts "______________________________________ incoming ___________________________________________________"%>
			<% puts @incoming_activities.inspect%>
			
						 
			     <%= render :partial => 'shared/activity_db', :collection =>  @incoming_activities, :locals => {:tabview => "Requests"} %>
		     
			<% end %>

			</div>


			<div id="completed-items" class="completed-items tabInfo">
				<% unless @completed_activities == nil %>
					<%= render :partial => 'shared/activity_db', :collection =>  @completed_activities,:locals => {:tabview => "Completed"} %>
				
				<% end %>
			</div>
			
		
		</div>  
	</div>
</div>
 
 		
	
