<!-- Create new activity form only for logged in users The second condition is to make sure not to display new activity when creating a new tivit -->  
<% if signed_in? && !(controller.controller_name=="activities" && controller.action_name == "new_tivit")%>
	
	<div id="new-activity-background">
		<div id="new-activity">
			<%= render 'shared/activity_form' %>
		</div>
	</div>
	
<% end %>

<div id="homepage-tivit-list-container">
	
    <div class="filter">
        <dl>
            <dt>Show:</dt>
            <dd>
                <input type="checkbox" value="" id="my_activ"/>
                <label for="my_activ">My Activities</label>
            </dd>
            <dd>
                <input type="checkbox" value="" id="my_tivit"/>
                <label for="my_tivit">My tivits</label>
            </dd>
        </dl>
    </div>
	
	<div id="tivit-container" class="tab-content">

		<div class="tabs">
             <div class="status">You have <%= @tivits_participate.count%> activities / tivits </div>

			<ul id="tabs-nav">
				<li class="tab open">
	                <a href="#tivit-desk">On Deck</a>
	            </li>
	            <li class="tab">
	                <a href="#completed-items">All Completed</a>
	                <i><%=@tivits_completed.count%></i>
	                <%current_user.update_last_signin%>
	            </li>
	            <li class="tab">
	                <a href="#new-requests">New Requests</a>
	                <%if @tivits_new.count > 0%>
	                	<i><%=@tivits_new.count%></i>
	                <%end%>
            	</li>
            </ul>
        </div>
    
   		<!-- This is the div that holds the On Deck/All Updates/New Requests tab Content -->    
		<div class="tabContent">
					
	        <div id="tivit-desk" class="tivit-desk tabInfo"> 

			<% unless @tivits_participate == nil %>
			 
			     <%= render :partial => 'shared/activity_db', :collection =>  @tivits_participate %>
		     
			<% end %>

			</div>

			<div id="completed-items" class="completed-items tabInfo">
				<% unless @tivits_completed == nil %>
					<%= render :partial => 'shared/activity_db', :collection =>  @tivits_completed %>
				<% end %>
			</div>
			
			<div id="new-requests" class="new-requests tabInfo">
				<% unless @tivits_new == nil %>
				 
				     <%= render :partial => 'shared/activity_db', :collection =>  @tivits_new %>
			     
				<% end %>
			</div>
		
		
		</div>
		  
	</div>
		
</div>
 
 		
	
