<tr>
  <td class="activity">

    <span class="content"><%= feed_item.name %></span><br>
    <span class="content">Details: <%= feed_item.description %></span><br>
    <span class="content">Due : <%= feed_item.due %></span><br>
    
    	
   <% feed_item.users.each do |user| %>
   	  <% if current_user.id == feed_item.owner_id && user.id == current_user.id %>
      	<span class="content">I am the owner</span><br>
   	  <% else %>
   		<% if user.id == feed_item.owner_id %>
   			<span class="content"><%= user.email%> is the owner of this task</span><br>
   		<% else %>
 			<% if user.id == current_user.id%>	
   				<span class="content">i am participating</span><br>
   			<% else %>
   				<span class="content"><%= user.email%> is participating</span><br>
   			<% end %>
   		<% end %>			
   	  <% end %> 	
   <% end %>
   <% if feed_item.due!=nil %>
   	<% if feed_item.due > Time.now %>
   		
      <span class="timestamp">tivit is due in <%= time_ago_in_words(feed_item.due) %> </span>
   	<% else %>
   		
      <span class="timestamp">tivit is <%= time_ago_in_words(feed_item.due) %> ovberdue! </span>
   <% end %>
   <% end %> 
    <span class="timestamp">tivit created <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
  </td>
  <td>
  	<% if feed_item.status == "completed" %>
 			<span class="content"> Completed !</span><br>
  	<% else %> 
 			<span class="content"> In Progress </span><br>
  	<% end %> 
   
  </td>
  
  <% if current_user.id == (feed_item.owner_id) %>
  <td>
  	<%= link_to "edit", edit_activity_path(feed_item) %>
  	
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure you want to delete" +feed_item.name+"?",
                                     :title => feed_item.name %>
  </td>
  <% end %>
</tr>