
<tr>
  <td class="activity">
    <span class="content"><b><%= feed_item.name %></b></span><br>
    <span class="content">Details: <%= feed_item.description %></span><br>
    <span class="content">Due : <%= feed_item.due %></span><br>

   <% feed_item.users.each do |user| %>
   	  <% if current_user.id == feed_item.owner_id && user.id == current_user.id %>
      	<span class="content">I am the owner</span><br>
   	  <% else %>
   		<% if user.id == feed_item.owner_id %>
   			<span class="content"><%= user.email%> is the owner of this task</span><br>
   		<% else %>
 			<% if user.id == current_user.id%>	
   				<span class="content">i am participating</span><br>
   			<% else %>
   				<span class="content"><%= user.email%> is participating</span><br>
   			<% end %>
   		<% end %>			
   	  <% end %> 	
   <% end %>
    <span class="timestamp">tivit created <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
  </td>
  <td>
  	<span class="content">Task Status: <%= feed_item.get_status(current_user) %> ! </span><br> 			
   	
  	<% if feed_item.status == "completed" %>
 			<span class="content"> Completed !</span><br>
 			<% if feed_item.completed_at!=nil %>
				<span class="timestamp">tivit was completed <%= time_ago_in_words(feed_item.completed_at) %> ago </span> 			
   			<% end %> 
  	<% else %> 
 			<span class="content"> In Progress </span><br>
 			<% if feed_item.due!=nil %>
   				<% if feed_item.due > Time.now %>
      				<span class="timestamp">tivit is due in <%= time_ago_in_words(feed_item.due) %> </span>
   				<% else %>
   					<span class="timestamp">tivit is <%= time_ago_in_words(feed_item.due) %> ovberdue! </span>
   				<% end %>
   			<% end %> 
  	<% end %> 
   
  </td>
  
  
  <td>
  	
  <% if current_user.id == (feed_item.owner_id) %>
  	<%= link_to "edit", edit_activity_path(feed_item) %>
  	
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure you want to delete" +feed_item.name+"?",
                                     :title => feed_item.name %>
  <% end %>
  
  
  
  
  <%= link_to "details", feed_item, :action => "show",
  									:method => "get",
                                    :title  => feed_item.name %>
                                      
   <% if current_user.id != (feed_item.owner_id) %>
  	    
   
    <%= link_to "accept", 		:controller  => "activities", 
   								:action  => "accept",
 								:id  => feed_item.id, 
  							    :confirm => "Are you sure you want to accept tivit" +feed_item.name+"?", 
                                :title   => feed_item.name %>

        
                                     
    <%= link_to "decline",      :controller  => "activities",
    							:action  => "decline",
    							:id  => feed_item.id, 
  							    :confirm => "Are you sure you want to decline tivit" +feed_item.name+"?",
                                :title   => feed_item.name %>

  <% end %>
  
  </td>

 
</tr>

<tr>

  <td>
<!-- Displaying comment -->
<h3>Comments:</h3>
<% feed_item.tivitcomments.each do |comment| %>
	<%if comment.user != nil %>
   	  <span class="content"><b><%= comment.user.name%>:</b>  </span>
   	  <span class="content"><%= comment.comment%> </span>
   	  <br>
	<% end %>   	   	
<% end %>
    

<!-- Add comment -->  
  
  <span class="content">
   <%= form_for([feed_item, feed_item.tivitcomments.build]) do |f| %>
    
    <%= f.text_field :comment, :size => "40" %>
  <div class="actions">
    <%= f.submit "add comment" %>
  </div>
  <% end %>
  </span>

  </td>

</tr>

