
<% unread_comments = tivit_adp.get_number_of_unread_comments(current_account.user)%>
<% respondbutton = "respond" %>

<!-- *** 1 *** figure out the status line user name -->		
<% if tivit_adp.get_owner.id == current_account.user.get_id %>
	<% loggedInUserIsTheOwner = "yes" %>
	<% tivit_owner_name = "You" %>
<% else %>
	<% loggedInUserIsTheOwner = "no" %>
	<% tivit_owner_name = tivit_adp.get_owner.name %>
<% end %>

<% if tivit_adp.get_owner.name == "not active" %>
	<% tivit_owner_name = tivit_adp.get_owner.clone_email %>
<% end %>

<!-- *** 2 *** Figure out the appropriate window to determine the statusline relevant text -->
<% due_time_window = tivit_adp.get_due_window_from_now %>
<% if tivit_adp.due == nil %>
	<% status_line_window = "" %>

<% elsif (due_time_window == "overdue") %>
<!-- activity is overdue -->
	<% if (((Time.now.end_of_day - tivit_adp.due.localtime.end_of_day)/(3600*24)).to_i) == 1 %>
		<% status_line_window = " yesterday" %>
	<% else %>	
		<% status_line_window = " " + (((Time.now.end_of_day - tivit_adp.due.localtime.end_of_day)/(3600*24)).to_i).to_s + " days ago" %>
	<% end %>
	
<% elsif due_time_window == "today" %>
<!-- activity due today -->
 	<% status_line_window = " today." %>
	 		
<% elsif due_time_window == "tomorrow"  %>
<!-- activity due tomorrow -->
 	<% status_line_window = " tomorrow." %>
 		 		
<% elsif due_time_window == "withinaweek" %>
<!-- activity due within a week -->
	<% status_line_window = " " + (tivit_adp.due.strftime ("%a")) + ", " + (tivit_adp.due.strftime ("%b")) + " " + (tivit_adp.due.strftime ("%d")) + "." %> 

<% else %>
<!-- activity due within more than a week -->
	<% status_line_window = " " + (tivit_adp.due.strftime ("%a")) + ", " + (tivit_adp.due.strftime ("%b")) + " " + (tivit_adp.due.strftime ("%d")) + "." %> 
		
<%end%>

			   						
<div class="team tivits">
<div class="tvit-list">

	<ul class="list">
				
		<!-- Display a tivit within an activity on the Activity Details page -->
		<% owner_tivit_status = tivit_adp.get_owner_status %>
		
		<!-- 
		# Status values for each tivit:
		# New 		- never read by the user
		# Reviewed  - Reviewed by the User
		# OnIt      - The user agreed to do the tivit
		# Done      - User has completed the Tivit
		# Declined  - User declined to do the tivit for some reason
		# Proposed  - user proposes a change in the tivit (initially a new date)
		# Accepted  - Tiviti Owner Accepter the tivit	 
		-->	
		
		
		<!-- *** 3 *** the middle text in status line varies dpending on the status of each tivit, let's set it up based on the status -->
		<% status_line_middle = "" %>

		<% if owner_tivit_status == "Done" %>
			<% status_line_middle = " finished this " +  (time_ago_in_words (tivit_adp.completed_at)) + " ago." %>
			<% status_line_window = "" %>
			
		<li class="record complete">
		<% respondbutton = "I'm done!" %>
		
		<% elsif owner_tivit_status == "Proposed" %>
	
		<li class="record attention">
		<% respondbutton = "new date?" %>
		
			<% proposed_date = "no data was set"%>
			
			<% if tivit_adp.get_owner_proposed_date == nil || tivit_adp.get_owner_proposed_date == "" %>
				<% proposed_date = "[no data was set]"%>
			<% else %>
				<% proposed_date = (tivit_adp.get_owner_proposed_date.localtime.strftime("%A %b %d, %Y")) %>
			<% end %>
			
			<% status_line_middle = " requested a different date: " + proposed_date %>	
			
		<% elsif tivit_adp.due != nil && tivit_adp.due.localtime.end_of_day < Time.now.end_of_day %>
      
     	<li class="record busy">
		
			<% if (owner_tivit_status == "New" || owner_tivit_status == "Reminded") %>
				<% if tivit_owner_name == "You" %>
					<% status_line_middle = " haven't read this." %>
				<% else %>
					<% status_line_middle = " hasn't read this." %>
				<% end %>
			
			<% elsif (owner_tivit_status == "OnIt" || owner_tivit_status == "Accepted") %>
				<% status_line_middle = " agreed to help by" %>
				
			<% elsif owner_tivit_status == "Reviewed"%>
				<% if tivit_owner_name == "You" %>
					<% status_line_middle = " haven't responded." %>
				<% else %>
					<% status_line_middle = " hasn't responded." %>
				<% end %>
			
			<% else %>
				<% status_line_middle = "un-handled status...if you see this let yaniv know" %>
	  	 	<% end %>	
   	
		<% elsif (owner_tivit_status == "OnIt" || owner_tivit_status == "Accepted")%>
		
		<li class="record inprog">
		<% respondbutton = "I'm on it" %>
		
			<% if tivit_adp.due != nil%>
				<% status_line_middle = " agreed to help by" %>
			<% else %>
				<% status_line_middle = " agreed to help." %>
			<% end %>
	    
		<% elsif owner_tivit_status == "New" || owner_tivit_status == "Reminded" %>
		
		<li class="record unread">
			<% if tivit_owner_name == "You" %>
				<% status_line_middle = " haven't read this." %>
			<% else %>
				<% status_line_middle = " hasn't read this." %>
			<% end %>
			
			<% if tivit_adp.due != nil %>
				<% status_line_window = " Due " + status_line_window %>
			<% else %>
				<% status_line_window = "" %>
			<% end %>
	                		                            
		<% elsif owner_tivit_status == "Reviewed"%>
			<li class="record unread">
			<% if tivit_owner_name == "You" %>
				<% status_line_middle = " haven't responded." %>
			<% else %>
				<% status_line_middle = " hasn't responded." %>
			<% end %>
			
			<% if tivit_adp.due != nil %>
				<% status_line_window = " Due " + status_line_window %>
			<% else %>
				<% status_line_window = "" %>
			<% end %>
	
		<% elsif owner_tivit_status == "Reassigned"%>
			<li class="record re-assign">
			
			<% if tivit_adp.get_invited_by.id == current_account.user.id %>
				<% tivit_owner_name = "You" %>
			<% else %>
				<% tivit_owner_name = tivit_adp.get_invited_by.get_name %>
			<% end %>
			
			<% if tivit_adp.get_owner.id == current_account.user.id %>
				<% status_line_middle = " reassigned to you." %>
			<% else %>
				<% status_line_middle = " reassigned to " +  tivit_adp.get_owner.get_name %> 
			<% end %>
			
			<% if tivit_adp.due != nil %>
				<% status_line_window = " Due " + status_line_window %>
			<% else %>
				<% status_line_window = "" %>
			<% end %>
				
		<% else %>	                            
		
		<li class="record busy">
			<% status_line_middle = " can't help." %>
			<% status_line_window = "" %>
					
		<%end%>
		
			<div class="conteiner">
			
				
				<div class="status">
					<div class="icon"></div>
					<!-- if I'm the activity owner / tivit creator or assignee, use class="status"
						so jQuery for dropdown list will work, otherwise use other status so it'll be ignored -->
			
					<!-- tivit owner=assignee -->
			
					<% if loggedInUserIsTheOwner == "yes" %>
						<% if tivit_adp.wasInvitedByUser? (current_account.user) %>
							<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="yes" imtivitcreator="yes">
						<% else %>
							<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="yes">
						<% end %>
					<!-- activity owner, strongest role should be assigned first -->
					<% elsif tivit_adp.isParentOwner? (current_account.user) %>
						<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="activityOwner">
					<!-- tivit creator -->
					<% elsif tivit_adp.wasInvitedByUser? (current_account.user) %>
						<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="invitedBy">	
					<% else %>
						<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="no">
					<%end%>
				</div>
		
				<!-- Render User Avatar -->
				<!-- if the status is new, that means the owner didn't read it yet, dim avatar and put the remind link -->
				<% if owner_tivit_status == "New" || owner_tivit_status == "Reminded"%>
				<div class="avatar unread">
				<% else %>
				<div class="avatar read">
				<% end %>
						<%= render :partial => 'profile_images/profile_image', :collection =>  [tivit_adp.get_owner], :as => :user, :class => "avatar" %> 
				</div>
								 
				<div class="text">
						<div class="activity">
							
							<!-- comments icon -->
								
							<div class="comments">
					   		<% if unread_comments > 0 %>
					   			<i><%=unread_comments%></i>
					   		<%end%>
			    			</div>
							
							<!-- calendar icon -->
							<!-- Yaniv to-do: change calendar rendering to be partial, adjust label from day/number to Month/number and different bacgkround icon as needed depending on when the tivit is due -->
							
							<% due_time_window = tivit_adp.get_due_window_from_now %>
							
							<% if owner_tivit_status != "Done" %>
									<% if tivit_adp.due == nil %>
									<!-- no date specified -->
										<div class="calendar">
									<% elsif due_time_window == "overdue" %>
									<!-- activity is overdue -->
											<div class="calendar new">
												<div class="week"><%= ((Time.now.end_of_day - tivit_adp.due.localtime.end_of_day)/(3600*24)).to_i %></div>
												<div class="text">days ago</div>
											
									<% elsif due_time_window == "today" %>
									<!-- activity due today -->
										 	<div class="calendar today">
										 		<div class="text">Today</div>
										 		
									<% elsif due_time_window == "tomorrow" %>
									<!-- activity due tomorrow -->
										 	<div class="calendar tomorrow">
										 		<div class="text">Tom.</div>
										 		 		
									<% elsif due_time_window == "withinaweek" %>
									<!-- activity due within a week -->
											<div class="calendar past">
												<div class="week"><%= (tivit_adp.due.localtime.strftime ("%a")).upcase %></div>
											    <div class="text"><%= tivit_adp.due.localtime.strftime ("%d") %></div>
												
									<% else %>
									<!-- activity due within more than a week -->
											<div class="calendar date beyondaweek">
											<div class="text"><%= tivit_adp.due.localtime.strftime ("%m-%d") %></div>
											
									<%end%>
									</div>
							<% end %>					
							
						</div>
							
						<div class="text-conteiner">
																	
							<!-- tiviti name -->
							<h3><%= tivit_adp.name %></h3>
							<!-- ********* -->
					 
					<!-- all gray status lines -->
					<% status_line = tivit_owner_name + status_line_middle + status_line_window %>
					<span class="grey">
	              		
	              		<% if owner_tivit_status == "Proposed" %>
		              		<%= tivit_owner_name %> 
							<font color="red"><%= status_line_middle %></font>
							<% if tivit_adp.get_parent.get_owner.id == current_account.user.get_id || tivit_adp.get_invited_by.get_id == current_account.user.get_id %> 
								-
								<span class="accept-proposed">accept</span>
								
					    	<% end %>
					    <!-- overdue -->
					    <% elsif tivit_adp.due != nil && tivit_adp.due.localtime.end_of_day < Time.now.end_of_day %>
					    	<%= tivit_owner_name + status_line_middle %> 
					    	<% if ((owner_tivit_status != "New" && owner_tivit_status != "Reminded" && owner_tivit_status != "Reviewed" && owner_tivit_status != "Done" )) %>
					    		<font color="red"><%= status_line_window %></font> 
					    	<% end %>
					    <% elsif status_line_middle == " declined" %>
					    	<%= tivit_owner_name %> 
					    	<font color="red"><%= status_line_middle %></font>	
					    <% elsif due_time_window == "today" %>
					    	<%= tivit_owner_name + status_line_middle %> 
					    	<font color="red"><%= status_line_window %></font> 
					    <% else %>
	              			<%= status_line %>
	              		
	              		<% end %>
	              		
	              		<!-- add remind if user didn't read or did respond yet -->
	              		<% if owner_tivit_status == "New" || owner_tivit_status == "Reminded"%>
		              		<%if((current_account.user.get_id == tivit_adp.get_parent.get_owner.get_id && current_account.user.get_id != tivit_adp.get_owner.get_id)|| (current_account.user.get_id == tivit_adp.get_invited_by.id) )%>	              	
			              		
									<%= link_to "Remind",    :controller  => "activities",
		    												:action      => "change_tivit_status",
		    												:status      => "remind",
		    												:id          => tivit_adp.id, 
		  							    					:confirm     => "Are you sure you want to accepet new date " +tivit_adp.name+"?",
		                                					:title       => tivit_adp.name
		                                					%>
									
							<%end%>
	              		<% end %>
	              		
		              	<% #if (tivit_adp.get_invited_by.get_id != current_account.user.get_id && (owner_tivit_status == "New" || owner_tivit_status == "Reminded" || owner_tivit_status == "Reviewed") ) %>
		              	<% if (tivit_adp.get_invited_by.get_id != current_account.user.get_id ) %>
		              		
		              		<% if owner_tivit_status == "Reviewed" %>
		              			[invited by <%=tivit_adp.get_invited_by.get_name%>,  <%= time_ago_in_words(tivit_adp.created_at)%> ago]
		              		<% else %>
		              			[invited by <%=tivit_adp.get_invited_by.get_name%>]
		              		<% end %>           			
	              		
	              		<%end%>
	              	
	              </span>
	                				   			
		   						
						</div> <!-- text-container -->
				</div> <!-- text -->
				
				<!-- only activity owner or tivit creator (invited by) can edit tivits -->
				<% if ( (tivit_adp.wasInvitedByUser?(current_account.user)) || (tivit_adp.isParentOwner? (current_account.user )) ) %>
				
					<div class="edit-menu">
						<div class="icon"></div>
						<div class="menu-dialog">
							<ul>
								<li class="edit">edit</li>
								<li class="del">delete</li>
							</ul>
						</div>
					</div>
				<% end %>													
				<div class="clear"></div>
			</div><!-- conteiner -->
			
			<!-- Show respond button only to owner -->
			<% if tivit_adp.get_owner.id == current_account.user.id %>
			<%# if unread_comments > 0 %> 	
				<% if tivit_adp.id == @tivit_id %>
				<div class="respond" style="display: block">
				<% else %>
				<div class="respond">	
				<% end %>
				<div class="status">
					<div class="icon"></div>
							<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="yes">
					</div>
				<div class="form-button"><%= respondbutton %></div>
				<!--
				<div class="status">
					<div class="icon"></div>
					<% if tivit_adp.get_owner.id == current_account.user.id %>
						<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="yes">
					<% else %>
						<input type="hidden" tivitid="<%= tivit_adp.id %>" mytivit="no">
					<%end%>
				</div>
				-->
			</div>
			<%end%>
			<!-- <div class="show-more"><a href="#">Show 2 more comment</a></div> -->

<!-- Figure out if we need to open tivits that has new comments for this user. If new comments, add "display: block" otherwise, collapse the comments -->
<%# if unread_comments > 0 && loggedInUserIsTheOwner == "yes" %> 	
	
<!-- expand tivit the user clicked on when coming to the page from dashboard or email -->				
<% if tivit_adp.id == @tivit_id %>
			<!-- tivit comments / answer -->
			<ul class="list" style="display: block">

<% else %>	
			<ul class="list">	
<% end %>			
				<%= render :partial => 'shared/tivit_adp_comments_list', :collection =>  [tivit_adp], :as => :tivit %>
			
			</ul>
		</li>
	</ul>
</div>
</div>
