
<% unless @tivits_new == nil  %>

   <table class="activities" summary="User activities">
     <h1>New Requests (<%= @tivits_new.count%>)</h1> 
    <%= render :partial => 'shared/tivit', :collection =>  @tivits_new  %> 
  </table>
<% end %>

<% unless @tivits_owned== nil  %>
   <table class="activities" summary="User activities">
     <h1>Acitivites for you to complete (<%= @tivits_owned.count%>)</h1>
     <%= render :partial => 'shared/tivit', :collection =>  @tivits_owned %>
  </table>
<% end %>

<% unless @tivits_participate == nil  %>

   <table class="activities" summary="User activities">
     <h1>Deliverables due to you (<%= @tivits_participate.count%>)</h1>
     
     <%= render :partial => 'shared/tivit', :collection =>  @tivits_participate %>
  </table>  
<% end %>

<% unless @tivits_completed== nil  %>
   <table class="activities" summary="User activities">
     <h1>Completed (<%= @tivits_completed.count%>)</h1>
     <%= render :partial => 'shared/tivit', :collection =>  @tivits_completed %> 
  </table>

<% end %>