<!-- Display a tivit within an activity on the  Dashboard -->
<% owner_tivit_status = tivit.get_owner_status %>
<% if tivit.get_owner.id == current_account.user.id %>
	<% loggedInUserIsTheOwner = "yes" %>
	<% tivit_owner_name = "You" %>
<% else %>
	<% loggedInUserIsTheOwner = "no" %>
	<% tivit_owner_name = tivit.get_owner.name %>
<% end %>

<% if tivit.get_owner.name == "not active" %>
	<% tivit_owner_name = tivit.get_owner.clone_email %>
<% end %>

<% if owner_tivit_status == "Done" %>

	<li class="record complete">

<% elsif owner_tivit_status == "Proposed" %>

	<li class="record attention">
		
<% elsif tivit.due != nil && tivit.due < Time.now %>
      
      <li class="record busy">
   					
<% elsif (owner_tivit_status == "OnIt" || owner_tivit_status == "Accepted")%>

	<li class="record inprog">
	    
<% elsif owner_tivit_status == "New" || owner_tivit_status == "Reminded" || owner_tivit_status == "Reviewed"%>

	<li class="record unread">
	                      	
<% else %>	                            

	<li class="record busy">
	
<%end%>

	<input type="hidden" activityid="<%= tivit.get_parent.id %>">
	
	<div class="status">
		<div class="icon"></div>
		<% if tivit.get_owner.id == current_account.user.id %>
			<input type="hidden" tivitid="<%= tivit.id %>" mytivit="yes">
		<% else %>
			<input type="hidden" tivitid="<%= tivit.id %>" mytivit="no">
		<%end%>
					
		<input type="hidden" tivitid="<%= tivit.id %>">
	</div>

<!-- if the status is new, that means the owner didn't read it yet, dim avatar and put the remind link -->
<% if owner_tivit_status == "New" || owner_tivit_status == "Reminded"%>

	<div class="avatar unread">
<% else %>
	<div class="avatar">
<%end%>
		<%= render :partial => 'profile_images/profile_image', :collection =>  [tivit.get_owner], :as => :user%> 
	</div>
	<div class="text">
		<div class="activity">
		   <!-- Let's hide the attachemt icon for now until we have it really working like comments
		   	<div class="attach">
		   		<i>1</i>
		    </div>
		   -->
		    <% unread_comments = tivit.get_number_of_unread_comments(current_account.user)%>
		    
		    <!-- Only show comments icon if there're new comments -->
		    <% if unread_comments > 0 %>
		   		<div class="comments">	
		   			<i><%=unread_comments%></i>
		   		</div>
		  	<% end %>
		  	  
		</div>
		<div class="wrapp">
			<div class="twr">
	              
	              <% tivit_parent_activity = tivit.get_parent %>
	              
	              <h3>    <%= link_to tivit.name, tivit_parent_activity, :action => "show",
	  									   :method => "get",
	                                       :title  => tivit_parent_activity.name %>
	               <!-- 
	               <% if tivit.due != nil && tivit.due < Time.now && owner_tivit_status != "Done" %>
      					<span class="timestamp"> (<%= time_ago_in_words(tivit.due) %> overdue.) </span>
   				   <% end %>
   				-->
	             <!-- <h3><%= tivit.name%>
	              	
	              	<% if tivit.due != nil && tivit.due < Time.now %>
      					<span class="timestamp"> - <%= time_ago_in_words(tivit.due) %> ovberdue! </span>
   					<% end %>
	              -->	
	              	
	              </h3>
	              
	              <% if owner_tivit_status == "Proposed" %>
					
					<% if loggedInUserIsTheOwner == "yes" %>
						<span class="grey"> You suggested new time, waiting for owner response.
					<!-- should actions only to activity owner AND tivit creator -->
					<% elsif tivit.get_parent.get_owner.id == current_account.user.id || tivit.invited_by == current_account.user.id %>
									
					<span class="proposed">
						<%= tivit.get_owner.name %> proposed a new date <strong><%= tivit.get_owner_proposed_date %></strong>
									<%= link_to "accept",	:controller  => "activities",
			    											:action      => "change_tivit_status",
			    											:status      => "accept_date",
			    											:id          => tivit.id, 
			  							    				:confirm     => "Are you sure you want to accepet new date " +tivit.name+"?",
			                                				:title       => tivit.name %>
			                                					
									
									 | <a href="#">decline</a> | <a href="#">counter</a>
								
						<% end %>		
						<!-- 
						New date proposed 
						<a href=""> <%=tivit.get_owner_proposed_date%></a>
						
						<%if (current_account.user.id == tivit.get_parent.get_owner.id) %>
						<a>
						<%= link_to "Accepet",      :controller  => "activities",
    												:action      => "change_tivit_status",
    												:status      => "accept_date",
    												:id          => tivit.id, 
  							    					:confirm     => "Are you sure you want to accepet new date " +tivit.name+"?",
                                					:title       => tivit.name %>
						
						
						</a>	
						<%end%>
	              	-->
				<%else%>
					
	              <span class="grey">
	              	<%= tivit_owner_name %>
	              	
	              	<% if !tivit.invitedByOwner?%>
	              		invited by <%=tivit.get_invited_by.get_name%>
	              		<% if owner_tivit_status != "Reminded"%>
	              			 <%= time_ago_in_words(tivit.created_at)%> ago
	              		<%end%>
							 
	              	<%end%>
					
	              	<%action = "remind"%>
					<% if owner_tivit_status == "New" || owner_tivit_status == "Reminded"%>
						
						, <b>unread</b> 
						<%if owner_tivit_status == "Reminded" %>
							<% action = "remind again" %>
							last reminded <%= time_ago_in_words(tivit.get_owner_last_status_change)%> ago
						<%end%>

						<%if((current_account.user.id == tivit.get_parent.get_owner.id && current_account.user.id != tivit.get_owner.id)|| (current_account.user.id == tivit.get_invited_by.id) )%>	              	
	              			<a>
							<%= link_to action,    :controller  => "activities",
    												:action      => "change_tivit_status",
    												:status      => "remind",
    												:id          => tivit.id, 
  							    					:confirm     => "Are you sure you want to accepet new date " +tivit.name+"?",
                                					:title       => tivit.name %>
							</a>
						<%end%>
					<% end %>
					
				<% end %>	
					
					<% if tivit.due != nil && tivit.due < Time.now && owner_tivit_status != "Done" %>
      					<span class="timestamp">[<%= time_ago_in_words(tivit.due) %> overdue] </span>
   				   <% end %>
						              	
<!-- If tivit was reviewed but no other action taken, add a comment when it was read and  -->
 
	              	<% if owner_tivit_status == "Reviewed"  && tivit.get_owner_last_review_date != nil%>
	              		<%if (current_account.user.id == tivit.get_owner.id)%>
							<b> Owner Awaiting Response </b> </br>
						<%end%>
						<a href=""> last reviewed <%= time_ago_in_words(tivit.get_owner_last_review_date)%> ago</a>
						
					<% end %>	              	
	              	
	              </span>
	         
            </div>
		</div>
	                                
		
		
	</div>
	<div class="clear"></div>
</li>
		            


