<% time1 = Time.now()%>

<!-- Answer (second) tivit -->
<%if   tivit_adp_comment.comment != nil && tivit_adp_comment.user != nil && tivit_adp_comment.created_at != nil %>


<!-- if new comment for this user, paint background yellow -->
<% if tivit_adp_comment.wasReviewed? (current_account.user) %>
	<!-- use class="record invisible" for comments you want to show in "view more comments" (when there's more that 2). Also, class="record active" will paint the background yellow. Use this for new comments -->
	<li class="record">		
<% else %> 
	<!-- Paints the comment background yellow as this is a new comment for this user -->
	<li class="record active">
<% end %>
		
	<div class="record-conteiner">
		
		<!-- Delete button -->
		<!-- <a href="#" class="delete"></a> -->
		<% users = [tivit_adp_comment.user]%>

		<!-- comment user avatar -->
		<div class="avatar">
			
			
			
			<!--%= profile_image(tivit_adp_comment.user)%-->
			<%time = Time.now() %>
 
			<!--%= render :partial => 'profile_images/profile_image', :collection =>  users, :as => :user, :class => "avatar" %-->
				<%= profile_image(tivit_adp_comment.user)%>
		
			<% puts (Time.now()-time).to_s%>

			
		</div>
		<!-- If comment is associated with action, show the action -->		
		<!-- 
		# Action Field is the type of comments:
		# Note - ordinary user comments
		# New 		- never read by the user
		# Reviewed  - REviewed by the User
		# OnIt      - The user agreed to do the tivit
		# Done      - User has completed the Tivit
		# Declined  - User declined to do the tivit for some reason
		# Proposed  - user proposes a change in the tivit (initially a new date)
		# Accepted  - Tiviti Owner Accepter the tivit	
		# Reassigned 
		-->	
						
		<div class="text">
			<%case tivit_adp_comment.action%>
		  	  	<%when ("OnIt")%>
		  	  		<p class="start"><%= tivit_adp_comment.user.name %> started <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</p>
		   	  
		  	  	<%when ("Done")%>
		  	  		<p class="start complete"><%= tivit_adp_comment.user.name %> completed his tivit <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</p>
		  	  		
		   	  	<%when ("Declined")%>
		  	  		<p class="start">Unfortunatlly, <%= tivit_adp_comment.user.name %> cannot help with this tivit. <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</p>
		  	  		
		   	  	<%when ("Proposed")%>
		   	  	
		  	  		<p class="start attention">New time proposed: 
		  	  			<% if tivit_adp_comment.activity.get_owner_proposed_date != nil %>
		  	  				<%= tivit_adp_comment.activity.get_owner_proposed_date.localtime.strftime("%A %b %d, %Y") %></p>
		  	  			<% end %>
		  	  	
		  	  	<!-- New proposed date accepted -->
		  	  	<%when ("Accepted")%>
		  	  		<p class="start accepted">Proposed new time accepted.</p>	
		  	  	<!-- Completed -->	
		  	  	<%when ("Done")%>
		  	  		<p class="start complete">Proposed new time accepted.</p>		
		  	  		<!-- Completed -->	
		  	  	<%when ("Reassigned")%>
		  	  	
		  	  	<% if (tivit_adp_comment.activity.get_owner.name == "not active") %>
    				<% task_owner_name = tivit_adp_comment.activity.get_owner.clone_email %>
    			<% else %>
    				<% task_owner_name = tivit_adp_comment.activity.get_owner.name %>
  				<% end %>
  
		  	  		<p class="start reassigned">Reassigned to <strong><%= task_owner_name %></strong>.</p>	
			<%end%>
		
			<!-- Display actual comment -->
			<!--p><%= tivit_adp_comment.comment%> </p-->
			<p><%=h auto_link(tivit_adp_comment.comment) %></p>
			<!-- User name and time -->
			
			<% if tivit_adp_comment.user.id == current_account.user.id %>
				<% username = "You" %>
			<%else%>
				<% username = tivit_adp_comment.user.name %>
			<%end%>
			<p><small><strong><%= username %></strong>, <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</small></p>
						
			<!-- <p><input type="text" value="Leave a note..." /></p> -->
		</div>

		

										
<!--									
		<div class="respond">
			<div class="form-button">respond</div>
			<div class="status-list-dialog menu-dialog" style="display: block;">
				<ul class="status-list">
					<li class="inprog"><div class="ico"></div>I'm on it</li>
					<li class="complete"><div class="ico"></div>I'm finished</li>
					<li class="busy"><div class="ico"></div>I'm too busy</li>
					<li class="attention"><div class="ico"></div>Propose new time</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
-->	

		
	
		<div class="clear"></div>
	</div>
	
	</li>
	  	  
<% end %>
<!--% puts "<<<<<  Rendering comment ----final  "+(Time.now()-time1).to_s% -- >

	