<div id="tivit-container">

	<div id="tivit-container-background">
		
		<div id="tivit-avatar">
			 <%= render :partial => 'profile_images/profile_image', :collection =>  [tivit.get_owner], :as => :user%> 
	
			
		</div>
		<div id="tivit-title" class="text">
			
			<%= link_to tivit.name, tivit, :action => "show",
	  									   :method => "get",
	                                       :title  => tivit.name,
	                                       :class => "text" %>                                    
		</div>
		<div id="tivit-status">
			<% if tivit.status == "Completed" %>				
	   			<img src="/images/status-done.gif" alt="tivit it done"> 			
	  		<% else %> 	
	 			<% if tivit.due!=nil %>
	   				<% if tivit.due > Time.now %>
	      				<img src="/images/status-inprogress.gif" alt="tivit in progress">
	   				<% else %>
	   					<img src="/images/status-overdue.gif" alt="tivit in overdue!">
	   				<% end %>
	   			<% end %> 
	  		<% end %> 
		</div>
		
		<div id="tivit-content">
			
			<% if tivit.status == "Completed" %>
	 			<div class="text"> Completed!
	 				
	 				<% if tivit.completed_at!=nil %>
						<%= time_ago_in_words(tivit.completed_at) %> ago			
	   				<% end %> 
	   				<div class="text">Summary: <%= tivit.summary%> </div> 		
	 				
	 			</div>	
		  	<% else %> 
		 			<% if tivit.due!=nil %>
		   				<% if tivit.due > Time.now %>
		      				<div class="text">Due: in <b><%= time_ago_in_words(tivit.due) %></b> </div>
		   				<% else %>
		   					<div class="text">Due: <b><%= time_ago_in_words(tivit.due) %> ovberdue! </b></div>
		   				<% end %>
		   			<% end %> 
		  	<% end %> 
  	
			<div class="text">Details: <%= tivit.description %></div>
		</div>
		<div id="tivit-avatar-label">
			<div class="text"><%= tivit.get_owner.name%></div>
		</div>
		<div class="buttons">
			<%= link_to "Respond", tivit, :action => "show",
	  									   :method => "get",
	                                       :title  => tivit.name,
	                                       :class => "tivitbutton" %> 
		</div>
		
	</div>
</div>

