<!-- Display a tivit within an activity on the  Dashboard -->
<% owner_tivit_status = tivit.get_owner_status %>

<!-- *** 1 *** figure out the status line user name -->		
<% if tivit.get_owner.id == current_account.user.get_id %>
	<% loggedInUserIsTheOwner = "yes" %>
	<% tivit_owner_name = "You" %>
<% else %>
	<% loggedInUserIsTheOwner = "no" %>
	<% tivit_owner_name = tivit.get_owner.name %>
<% end %>

<% if tivit.get_owner.name == "not active" %>
	<% tivit_owner_name = tivit.get_owner.clone_email %>
<% end %>

<!-- *** 2 *** Figure out the appropriate window to determine the statusline relevant text -->
<% due_time_window = tivit.get_due_window_from_now %>
<% if tivit.due == nil %>
	<% status_line_window = "" %>

<% elsif (due_time_window == "overdue") %>
<!-- activity is overdue -->
	<% if (((Time.now.end_of_day - tivit.due.localtime.end_of_day)/(3600*24)).to_i) == 1 %>
		<% status_line_window = " yesterday" %>
	<% else %>	
		<% status_line_window = " " + (((Time.now.end_of_day - tivit.due.localtime.end_of_day)/(3600*24)).to_i).to_s + " days ago" %>
	<% end %>
	
<% elsif due_time_window == "today" %>
<!-- activity due today -->
 	<% status_line_window = " today." %>
	 		
<% elsif due_time_window == "tomorrow"  %>
<!-- activity due tomorrow -->
 	<% status_line_window = " tomorrow." %>
 		 		
<% elsif due_time_window == "withinaweek" %>
<!-- activity due within a week -->
	<% status_line_window = " " + (tivit.due.strftime ("%a")) + ", " + (tivit.due.strftime ("%b")) + " " + (tivit.due.strftime ("%d")) + "." %> 

<% else %>
<!-- activity due within more than a week -->
	<% status_line_window = " " + (tivit.due.strftime ("%a")) + ", " + (tivit.due.strftime ("%b")) + " " + (tivit.due.strftime ("%d")) + "." %> 
		
<%end%>

<!-- *** 3 *** the middle text in status line varies dpending on the status of each tivit, let's set it up based on the status -->
<% status_line_middle = "" %>
<% if owner_tivit_status == "Done" %>

	<li class="record complete">
	<% status_line_middle = " finished this " +  (time_ago_in_words (tivit.completed_at)) + " ago." %>
	<% status_line_window = "" %>
		
<% elsif owner_tivit_status == "Proposed" %>

	<li class="record attention">
	<% proposed_date = "no data was set"%>
	<% if tivit.get_owner_proposed_date == nil || tivit.get_owner_proposed_date == "" %>
		<% proposed_date = "[no data was set]"%>
	<% else %>
		<% proposed_date = (tivit.get_owner_proposed_date.localtime.strftime("%A %b %d, %Y")) %>
	<% end %>
	
	<% status_line_middle = " requested a different date: " + proposed_date %>	
		
<% elsif tivit.due != nil && tivit.due.localtime.end_of_day < Time.now.end_of_day %>
      
	<li class="record busy">
	<% if (owner_tivit_status == "New" || owner_tivit_status == "Reminded") %>
		<% if tivit_owner_name == "You" %>
			<% status_line_middle = " haven't read this." %>
		<% else %>
			<% status_line_middle = " hasn't read this." %>
		<% end %>
	<% elsif (owner_tivit_status == "OnIt" || owner_tivit_status == "Accepted") %>
				<% status_line_middle = " agreed to help by" %>
				
			<% elsif owner_tivit_status == "Reviewed"%>
				<% if tivit_owner_name == "You" %>
					<% status_line_middle = " haven't responded." %>
				<% else %>
					<% status_line_middle = " hasn't responded." %>
				<% end %>
			
			<% else %>
				<% status_line_middle = "un-handled status...if you see this let yaniv know" %>
	  	 	<% end %>
	  	 			
<% elsif (owner_tivit_status == "OnIt" || owner_tivit_status == "Accepted")%>

	<li class="record inprog">
	<% if tivit.due != nil%>
		<% status_line_middle = " agreed to help by" %>
	<% else %>
		<% status_line_middle = " agreed to help." %>
	<% end %>
<% elsif owner_tivit_status == "New" || owner_tivit_status == "Reminded" %>

	<li class="record unread">
		<% if tivit_owner_name == "You" %>
			<% status_line_middle = " haven't read this." %>
		<% else %>
			<% status_line_middle = " hasn't read this." %>
		<% end %>
	
		<% if tivit.due != nil %>
			<% status_line_window = " Due " + status_line_window %>
		<% else %>
			<% status_line_window = "" %>
		<% end %>
	
<% elsif owner_tivit_status == "Reviewed"%>
	<li class="record unread">
	<% if tivit_owner_name == "You" %>
		<% status_line_middle = " haven't responded." %>
	<% else %>
		<% status_line_middle = " hasn't responded." %>
	<% end %>
	
	<% if tivit.due != nil %>
				<% status_line_window = " Due " + status_line_window %>
			<% else %>
				<% status_line_window = "" %>
			<% end %>

<% elsif owner_tivit_status == "Reassigned"%>
			<li class="record re-assign">
			
			<% if tivit.get_invited_by.id == current_account.user.id %>
				<% tivit_owner_name = "You" %>
			<% else %>
				<% tivit_owner_name = tivit.get_invited_by.get_name %>
			<% end %>
			
			<% if tivit.get_owner.id == current_account.user.id %>
				<% status_line_middle = " reassigned to you." %>
			<% else %>
				<% status_line_middle = " reassigned to " +  tivit.get_owner.get_name %> 
			<% end %>
			
			<% if tivit.due != nil %>
				<% status_line_window = " Due " + status_line_window %>
			<% else %>
				<% status_line_window = "" %>
			<% end %>
				      	                	
<% else %>	                            

	<li class="record busy">
	<% status_line_middle = " can't help." %>
	<% status_line_window = "" %>
	
<%end%>

	<input type="hidden" activityid="<%= tivit.get_parent.id %>" tivitid="<%= tivit.id %>">

	
	<div class="status">
		<div class="icon"></div>
		<!-- if I'm the activity owner / tivit creator or assignee, use class="status"
			so jQuery for dropdown list will work, otherwise use other status so it'll be ignored -->
		<% if loggedInUserIsTheOwner == "yes" %>
			<% mytivit = "yes"%>
		<% else %>
			<% mytivit = "no"%>
		<% end %>
		<% if tivit.isParentOwner? (current_account.user) %>
			<% activityOwner = "yes"%>
		<% end %>
		<% if tivit.wasInvitedByUser? (current_account.user) %>
				<% invitedByMe = "yes"%>
		<% end %>
					
		<input type="hidden" tivitid="<%= tivit.id %>" mytivit= "<%=mytivit%>" activityOwner="<%=activityOwner%>" invitedByMe="<%=invitedByMe%>" >
				
	</div>

<!-- if the status is new, that means the owner didn't read it yet, dim avatar and put the remind link -->
<% if owner_tivit_status == "New" || owner_tivit_status == "Reminded"%>

	<div class="avatar unread">
<% else %>
	<div class="avatar">
<%end%>
		<%= render :partial => 'profile_images/profile_image', :collection =>  [tivit.get_owner], :as => :user%> 
	</div>
	<div class="text">
		<div class="activity">
		   <!-- Let's hide the attachemt icon for now until we have it really working like comments
		   	<div class="attach">
		   		<i>1</i>
		    </div>
		   -->
		    <% unread_comments = tivit.get_number_of_unread_comments(current_account.user)%>
		    
		    <!-- Only show comments icon if there're new comments -->
		    <% if unread_comments > 0 %>
		   		<div class="comments">	
		   			<i><%=unread_comments%></i>
		   		</div>
		  	<% end %>
		  	  
		</div>
		<div class="wrapp">
			<div class="twr">
	              
	              <% tivit_parent_activity = tivit.get_parent %>
	              
	              <h3>    <%= link_to tivit.name, tivit, :action => "show",
	  									   :method => "get",
	                                       :title  => tivit_parent_activity.name %>       	
	              </h3>
	              
	              <% status_line = tivit_owner_name + status_line_middle + status_line_window %>
	             	             
					<!-- all gray status lines -->
					<span class="grey">
	              		
	              		<% if owner_tivit_status == "Proposed" %>
		              		<%= tivit_owner_name %> 
							<font color="red"><%= status_line_middle %></font>
							
							<!-- only tivit creator and activity owner can accept new time proposed. The only exception is when activity owner request a new time for a tivit s/he got assigned -->						
							<% if (tivit.get_parent.get_owner.id == current_account.user.get_id || tivit.get_invited_by.get_id == current_account.user.get_id) &&  (tivit.get_owner.id != current_account.user.get_id) %> 
								-
								<span class="accept-proposed">Accept</span>
								<!-- 
								<%= link_to "accept",	:controller  => "activities",
					    											:action      => "change_tivit_status",
					    											:status      => "accept_date",
					    											:id          => tivit.id, 
					  							    				:confirm     => "Are you sure you want to accepet new date " +tivit.name+"?",
					                                				:title       => tivit.name %> 
					          
					          -->
					    	<% end %>
					    <!-- overdue -->
					    <% elsif tivit.due != nil && tivit.due.localtime.end_of_day < Time.now.end_of_day %>
					    	<%= tivit_owner_name + status_line_middle %> 
					    	<% if ((owner_tivit_status != "New" && owner_tivit_status != "Reminded" && owner_tivit_status != "Reviewed")) %>
					    		<font color="red"><%= status_line_window %></font> 
					    	<% end %>
					    <% elsif status_line_middle == " declined" %>
					    	<%= tivit_owner_name %> 
					    	<font color="red"><%= status_line_middle %></font>	
					    <% elsif due_time_window == "today" %>
					    	<%= tivit_owner_name + status_line_middle %> 
					    	<font color="red"><%= status_line_window %></font> 
					    <% else %>
	              			<%= status_line %>
	              		
	              		<% end %>
	              		
	              		<!-- add remind if user didn't read or did respond yet -->
	              		<% if owner_tivit_status == "New" || owner_tivit_status == "Reminded"%>
		              		<%if((current_account.user.get_id == tivit.get_parent.get_owner.get_id && current_account.user.get_id != tivit.get_owner.get_id)|| (current_account.user.get_id == tivit.get_invited_by.id) )%>	              	
			              			<span class="send-reminder">Remind</span>
			              			<!-- 
			              			<a>
									<%#= link_to "Remind",    :controller  => "activities",
		    												:action      => "change_tivit_status",
		    												:status      => "remind",
		    												:id          => tivit.id, 
		  							    					:confirm     => "Are you sure you want to accepet new date " +tivit.name+"?",
		                                					:title       => tivit.name %>
									</a>
									-->
									
							<%end%>
	              		<% end %>
	              		
		              	<%# if (tivit.get_invited_by.get_id != current_account.user.get_id && (owner_tivit_status == "New" || owner_tivit_status == "Reminded" || owner_tivit_status == "Reviewed") ) %>
		              		<% if (tivit.get_invited_by.get_id != current_account.user.get_id ) %>
		              		
			              		<% if owner_tivit_status == "Reviewed" %>
			              			[invited by <%=tivit.get_invited_by.get_name%>,  <%= time_ago_in_words(tivit.created_at)%> ago]
			              		<% else %>
			              			[invited by <%=tivit.get_invited_by.get_name%>]
			              		<% end %>           			
	              		
	              			<%end%>
	              	
	              </span>
	         
            </div>
		</div>
	                                
		
		
	</div>
	<div class="clear"></div>
</li>
		            


