<% #puts "[YANIV] ================= NUMBER OF COMMENTS: " %>
<% #puts tivit.tivitcomments.size  %>
<% #puts "[YANIV] ===================================="   %>

<%if tivit != nil && tivit.tivitcomments.size > 0 %>

	<%= render :partial => 'shared/tivit_adp_comment', :collection =>  tivit.tivitcomments %> 

<% end %>

<!-- add comment input field -->  
    	
  	<!-- <div class="post"><textarea cols="10" rows="1">Leave a note...</textarea> -->
  			
  		<div class="post">
  			<div class="loading"></div>
 	
 		<%= form_for([tivit, tivit.tivitcomments.build], :html => { :id => "post-comment-form"}) do |f| %>
    
		<%= f.text_area :comment %>
<!-- 
			<p>
    			<%= f.submit "post", :class => "post-button" %>
    			
    			// attach a file is handeled in jQuery file
    			<a href="#" class="attach-file">attach a file</a>
    		</p>
--> 
 	 <% end %>
  		<p>
  			<input type="submit" value="Post" class="post-button">
  			<!--a href="#" class="attach-file">attach a file</a-->
  			<!--li class="attach-file"><%= link_to "attache a file", 	:controller  => "documents", 
					   											:action      => "new",
					   											:id          => tivit.id, 
					  							    			:title       => "Manage Files" %-->
  		</p>
</div>
  	
<!--   	
  <div class="post">
  	
   <%= form_for([tivit, tivit.tivitcomments.build]) do |f| %>
    
	 <%= f.text_field :comment %>
	 
	 </div>

    	<%= f.submit "post" %>
 
 	 <% end %>
 	   
-->	
	
