
<!-- Answer (second) tivit -->
<%if   tivit_adp_comment.comment != nil && tivit_adp_comment.user != nil && tivit_adp_comment.created_at != nil %>

<% puts "[YANIV] ================= RENDERING COMMENT: "  + tivit_adp_comment.comment %>

<!-- if new comment for this user, paint background yellow -->
<% if tivit_adp_comment.wasReviewed? (current_account.user) %>
	<!-- use class="record invisible" for comments you want to show in "view more comments" (when there's more that 2). Also, class="record active" will paint the background yellow. Use this for new comments -->
	<li class="record">		
<% else %> 
	<!-- Paints the comment background yellow -->
	<li class="record active">
<% end %>
		
	<div class="record-conteiner">
		
		<!-- Delete button -->
		<a href="#" class="delete"></a>
		
		<!-- comment user avatar -->
		<div class="avatar">
			<%= render :partial => 'profile_images/profile_image', :collection =>  [tivit_adp_comment.user], :as => :user, :class => "avatar" %> 
		</div>
			
		<!-- If comment is associated with action, show the action -->											
		<div class="text">
			<%case tivit_adp_comment.action%>
		  	  	<%when ("OnIt")%>
		  	  		<p class="start"><%= tivit_adp_comment.user.name %> started <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</p>
		   	  
		  	  	<%when ("Done")%>
		  	  		<p class="start complete"><%= tivit_adp_comment.user.name %> completed his tivit <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</p>
		  	  		
		   	  	<%when ("Declined")%>
		  	  		<p class="start"><%= tivit_adp_comment.user.name %> cannot help with this tivit. <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</p>
		  	  		
		   	  	<%when ("Proposed")%>
		  	  		<p class="start attention">New time proposed: Thusday, Nov. 25</p>
			<%end%>
		
			<!-- Display actual comment -->
			<p><%= tivit_adp_comment.comment%></p>
			<!-- User name and time -->
			
			<% if tivit_adp_comment.user.id == current_account.user.id %>
				<% username = "You" %>
			<%else%>
				<% username = tivit_adp_comment.user.name %>
			<%end%>
			<p><small><strong><%= username %></strong>, <%= time_ago_in_words(tivit_adp_comment.created_at) %> ago.</small></p>
						
			<!-- <p><input type="text" value="Leave a note..." /></p> -->
		</div>
<!--									
		<div class="respond">
			<div class="form-button">respond</div>
			<div class="status-list-dialog menu-dialog" style="display: block;">
				<ul class="status-list">
					<li class="inprog"><div class="ico"></div>I'm on it</li>
					<li class="complete"><div class="ico"></div>I'm finished</li>
					<li class="busy"><div class="ico"></div>I'm too busy</li>
					<li class="attention"><div class="ico"></div>Propose new time</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
-->	

		
	
		<div class="clear"></div>
	</div>
	
	</li>
	  	  
<% end %>
	