<!-- Display a tivit within an activity on the  Dashboard -->

<div id="tivit-container">
	<div id="tivit-container-background">
		
		<div id="tivit-avatar">
			 <%= render :partial => 'profile_images/profile_image', :collection =>  [tivit.get_owner], :as => :user%> 
	
			
		</div>
		<div id="tivit-title" class="text">
			
			<%= link_to tivit.name, tivit, :action => "show",
	  									   :method => "get",
	                                       :title  => tivit.name,
	                                       :class => "text" %>
	            
	                                         
	    		<% if tivit.due!=nil %>
   					<% if tivit.due > Time.now %>
      					<span class="timestamp">Needed by: <%= time_ago_in_words(tivit.due) %> </span>
   					<% else %>
   					<span class="timestamp">tivit <%= time_ago_in_words(tivit.due) %> ovberdue! </span>
   					<% end %>
   				<% end %>
   				<br>
   				<% if tivit.get_invited_by !=nil %>
   					<%= tivit.get_owner.get_name%> was invited by <%= tivit.get_invited_by.name %> <%= time_ago_in_words(tivit.created_at) %> ago
   				<% else %>
   				<%= tivit.get_owner.get_name%> was invited  <%= time_ago_in_words(tivit.created_at) %> ago

   				<% end %>
   							
		                                    
		</div>
<!-- Displaying tivit status -->	
		<div id="tivit-status">
			<% if tivit.status == "Completed" %>				
	   			<img src="/images/status-done.gif" alt="tivit it done"> 			
	  		<% else %> 	
	 			<% if tivit.due!=nil %>
	   				<% if tivit.due > Time.now %>
	      				<img src="/images/status-inprogress.gif" alt="tivit in progress">
	   				<% else %>
	   					<img src="/images/status-overdue.gif" alt="tivit in overdue!">
	   				<% end %>
	   			<% end %> 
	  		<% end %> 
		</div>
		
		<div id="tivit-content">
			
			<% if tivit.status == "Completed" %>
	 			<div class="text"> Completed!
	 				
	 				<% if tivit.completed_at!=nil %>
						<%= time_ago_in_words(tivit.completed_at) %> ago			
	   				<% end %> 
	   				<div class="text">Summery: <%= tivit.summary%> </div> 		
	 				
	 			</div>	
		  	<% end %> 
		 	<br>		
		 	
		 	
<!-- tivit description-->
 	
			<div class="text"><%= tivit.description %></div>
	
	<br>		
			
