<!-- Display a tivit within an activity on the  Dashboard -->
<% owner_tivit_status = tivit.get_owner_status %>

<% if owner_tivit_status == "Accepted" %>

	<li class="record inprog">
	    
<% elsif owner_tivit_status == "New" || owner_tivit_status == "Reviewed" %>

	<li class="record unread">
	                      
<% elsif owner_tivit_status == "Done" %>

	<li class="record complete">
		
<% elsif owner_tivit_status == "Proposed" %>

	<li class="record attention">

                            
<% else %>	                            

<li class="record busy">
	
<%end%>

	<div class="status">
		<div class="icon"></div>
	</div>

<!-- if the status is new, that means the owner didn't read it yet, dim avatar and put the remind link -->
<% if owner_tivit_status == "New" %>

	<div class="avatar attention">
<% else %>
	<div class="avatar">
<%end%>
		<%= render :partial => 'profile_images/profile_image', :collection =>  [tivit.get_owner], :as => :user%> 
	</div>
	<div class="text">
		<div class="activity">
		   	<div class="attach">
		   		<i>1</i>
		    </div>
		    
		    <% unread_comments = tivit.get_number_of_unread_comments(tivit.get_owner)%>
		    
		   	<div class="comments">
		   		<% if unread_comments > 0 %>
		   			<i><%=unread_comments%></i>
		   		<%end%>
		    </div>
		  	    
		</div>
		<div class="wrapp">
			<div class="twr">
	              <h3><%= tivit.name%></h3>
	              <span class="grey">
	              	<%= tivit.get_owner.get_name %>
	              	
					<% if owner_tivit_status == "New" %>
						, Unread
						<%if(current_user.id == tivit.get_parent.get_owner.id)%>	              	
	              			<a href=""> remind</a>
	              		<%end%>
					<% end %>
					
					
					<% if owner_tivit_status == "Proposed" %>
						, New date proposed 
						<a href=""> <%=tivit.get_owner_proposed_date%></a>
						
						<%if (current_user.id == tivit.get_parent.get_owner.id) %>
							<a href=""> Accept</a>	
						<%end%>
	              		
					<% end %>	              	
	              	
	              </span>
	              
            </div>
		</div>
	                                
		
		
	</div>
	<div class="clear"></div>
</li>
		            


