

<div id="new-activity">
	
	<%= form_tag(:controller => "activities", :action => "create_tivit", :method => "post", :id => @activity.id) do %>
	
	<!-- Acitivity Name -->
	 
	<!-- The complete Activiti form, opened upon activity name on focus -->
	 
	  
	  <!-- Tivit  owner-->
			  <div class="field">
			  	<div class="field-label">
			  		<%= label_tag(:invitees, "Who: ", :class => "field-label") %>
			  	</div>
			  	<%= text_field_tag(:invitees, nil, :placeholder => "enter email address, separated by ; ", :class => "input-invitees") %> 
			  </div>
			
	  <!--what-->
			  <div class="field">
			  	<div class="field-label">
			  		<%= label_tag(:name, "What") %>
			  	</div>
		<%= text_field_tag(:name, nil, :placeholder => "enter name...", :class => "input-name") %> 
			  </div>
	  
			  
			  <!-- Acitivity Description -->
			  <div class="field" id="tivitdescription">
			  	<div class="field-label">
			  		<%= label_tag(:description, "Details: ", :class => "field-label") %>
			  	</div>
			  	<%= text_area_tag(:description, nil, :class => "input-description" ) %> 
			  </div>
			  
			<!-- Acitivity Due Date -->
			  <div class="field">
			  	
			    <%= label_tag(:due, "Need by: ", :class => "field-label") %>		
	     		<%= text_field_tag(:due, nil, :placeholder => "choose date", :class => "input-date") %> 
	     		<img src="/images/calendarpicker/cal.gif" onclick="javascript:NewCssCal('due', 'mmddyyyy', 'arrow')" style="cursor:pointer"/>
	     	  	
			 </div>
			 
			 
		 	  <div class="field">
			  	<div class="buttons">
			  		<%= submit_tag("Invite", :class => "form-button") %>
			  	</div>
			  	<div class="buttons">
			  		<%= submit_tag("Cancel", :class => "form-button") %>
			  	</div>
			  </div>
		<!--/div-->
	
	<% end %> 

</div>
