<title>Home</title>

<!-- Create new activity form only for logged in users The second condition is to make sure not to display new activity when creating a new tivit -->  
<div id="homepage-tivit-list-container">
	
	<div id="tivit-container" class="tab-content">

		<div class="tabs">

			<ul id="tabs-nav">
				<li class="tab open">
	                <a href="#overview">Overview</a>
	            </li>
	            <li class="tab">
	                <a href="#completed-items">Users</a>
	            </li>
	            
            	<li class="tab">
	                <a href="#need-attention">TBD</a>
	                
            	
            </ul>
        </div>
    
   		<!-- This is the div that holds the On Deck/All Updates/New Requests tab Content -->    
		<div class="tabContent">
					
	        <div id="overview" class="overview tabInfo"> 

				<table class="profile" summary="Profile information">
				<b>User Count</b> 
				  <tr> <td>Activated     : </td> <td><%=@user_adopt["activated"]%></td> </tr>
				  <tr> <td>Non Activated : </td> <td><%=@user_adopt["non_activated"]%></td> </tr>
				  <tr> <td>Total  Users  : </td> <td><%=@user_adopt["total"]%></td> </tr>
				  
				  <tr></tr><tr></tr>
				  <tr> <td>Joined Viraly : </td> <td><%=@user_adopt["viraly_joined"]%></td> </tr>
				</table>
				
				<br>
				  
				<table class="profile" summary="Profile information">
				<b>Tivits stats</b> 
				  <tr> <td>Activities     		 : </td> <td><%=@tivits_stats["activities"]%></td> </tr>
				  <tr> <td>Tivits 				 : </td> <td><%=@tivits_stats["tivits"]%></td> </tr>
				  <tr> <td>Avg Tivits / Activity : </td> <td><%=@tivits_stats["avg_t_per_a"]%></td> </tr>
				       
				</table>



			<% unless true || @tivits_ondeck == nil  %>
			 
			     <%= render :partial => 'shared/activity_db', :collection =>  @tivits_ondeck, :locals => {:tabview => "On Deck"} %>
		     
			<% end %>

			</div>

			<div id="completed-items" class="completed-items tabInfo">
				<% unless @tivits_completed == nil %>
					<%= render :partial => 'shared/activity_db', :collection =>  @tivits_completed,:locals => {:tabview => "Completed"} %>
				<% end %>
			</div>
			
			<div id="new-requests" class="new-requests tabInfo">
				<% unless @tivits_new == nil %>
				 
				     <%= render :partial => 'shared/activity_db', :collection =>  @tivits_new,:locals => {:tabview => "New"} %>
			     
				<% end %>
			</div>
		
			<div id="need-attention" class="need-attention tabInfo">
				<% unless @need_attention_activities == nil %>
				 
				     <%= render :partial => 'shared/activity_db', :collection =>  @need_attention_activities,:locals => {:tabview => "Need Attention"} %>
			     
				<% end %>
			</div>
		</div>  
	</div>
</div>
 
 		
	
