
<p>

        <!-- Creat new Activity -->   
   
     <% if signed_in? %>
      <table class="front" summary="For signed-in users">
        <tr>
        <td class="main">
          <h1 class="activity">Add new tivit</h1>
          <%= render 'shared/activity_form' %>
        
        
        <!-- Display Current Activities -->   
      
        <% unless current_user.activities.empty? %>
                <table class="activities" summary="User tasks">
                    <%= render current_user.activities %>
                </table>
        
        <% end %>
        </td>
        
        
        
        
        
        <td class="sidebar round">
          <%= render 'shared/user_info' %>
        </td>
    </tr>
  </table>
     <% else %>
        <%= link_to "Sign in", signin_path %>
     
        <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
     <% end %>

</p>


