<% me = current_account.user %>


<div class="activities">
	<!-- Top Activities Panel -->
	<div class="act-main" id="activity-header">
		<input type="hidden" activityid="<%= 1 %>">
		
		<div class="avatar"><%= profile_image(me)%></div>
		<div class="info">
			
			<!-- Activity Name -->
				<h1>People you are working with  </h1>
			
			<p><small>
				<b><%if @users.size == 0%>
				<h1>You have not open task with other people  </h1>
			<%else%>
				<h1>You are currently collaborating with <%=@users.size%> people  </h1>
			<%end%>
			 </b> 
				</small></p>
			
			<p class="progress-complete">
				<span>
	        </p>                                        
    		</br>  
 	  	
		</div>
		</div>
		
		
	</div>
	

	<div class="body">
		
		<div class="leftCol">
			
			<div class="clear"></div>
			
			<!-- Tasks Assign to me by other user-->
			
			<% if ( @users.size > 0) %>
				<div class="tivits main-tivit" id="alltivits">
					<!--h2>You have <span><%= newTasksForMe.size + openTasksForMe.size %></span> tasks <b><%=@other_user.get_name %></b> assigned to you </h2-->
					<div class="tvit-list" id="mytivits">						
						
						<% if newTasksForMe.size > 0 %>
						<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  newTasksForMe, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
						</ul>
						<% end %>
						<% if openTasksForMe.size > 0 %>
							<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  openTasksForMe, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
							</ul>
						<% end %>
						<% if completedTasksForMe.size > 0 %>
							<ul class="list additional-tivits hide"">
								<%= render :partial => 'shared/task_db', :collection =>  completedTasksForMe, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
							</ul>
							<p class="show-other-tasks">Show <%= completedTasksForMe.size %> completed tasks</p>
						<% end %>						
					</div>
					
			<%else%>
				<div class="tivits main-tivit" id="alltivits" style="background:none" >
				
			<%end%>
				
				
			<!-- End of Main Tivits -->
			</div> <!-- My tivits -->
			
			<!-- tasks i assign to other_user -->
			
				<!-- <h2>team tivits<span>(4)</span></h2> -->
				
			
				<% if (totalTasksIAssigned > 0) %>
				
				<div class="team tivits" id="team-tivits">
					<h2>You have assigned <span><%= openTasksForOther.size + newTasksForOther.size %></span> tasks to <b><%=@other_user.get_name %></b> </h2>
					<div class="tvit-list" id="teamtivits">
					
						
						<% if newTasksForOther.size > 0 %>
						<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  newTasksForOther, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
						</ul>
						<% end %>
						<% if openTasksForOther.size > 0 %>
							<ul class="list">
							<%= render :partial => 'shared/task_db', :collection =>  openTasksForOther, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
							</ul>
						<% end %>
						<% if completedTasksForOther.size > 0 %>
							<ul class="list additional-tivits hide"">
								<%= render :partial => 'shared/task_db', :collection =>  completedTasksForOther, :as => :my_task, :locals => {:taskContext => 'ADP'} %>
							</ul>
							<p class="show-other-tasks">Show <%= completedTasksForOther.size %> completed tasks</p>
						<% end %>		
						
						
						
					</div>
				
				<% else %>
					<div class="team tivits" id="team-tivits" style="background:none">
				<%end%>
				
			</div> <!-- team tivits --> 
				
		</div> <!-- "leftCol" -->
	
	</div> <!-- "body" -->
	
</div> <!--"activities" --> 
