/*alert ('Ajax Works');*/
console.log('in create_tivit.js.erb function');  

/*
console.log('in comment block');  
 
jQuery("team-tivits").append ('<div class="avatar"><img alt="Pete Campbell" src="images/avatar_2.png"></div>');

$("team-tivits").append("<%= escape_javascript(render(:partial => 'shared/tivit_adp', :collection =>  [@activity])) %>");

jQuery('#alltivits').append ('<h2>my tasks <span>(1)</span></h2>');

	
1. If new activity that means no tivits were created, we need to insert the my tivits or team tivits headers. 
2. If empty and new tivit created for the owner, add the my tivits header. else, insert the team tivits header
*/

var content_to_add = '';

<% activityparent = @activity.get_parent() %>

console.log('[Yaniv] Checking number of tivits in activity');  
console.log('[Yaniv] current user id=', <%= current_account.user.id %>);  
console.log('[Yaniv] activity owner user id=', <%= @activity.owner_id %>);  


if ( jQuery("#mytivits .show-other-tasks").is(":visible") )
{
	console.log('[Yaniv] My Tasks - Completed visible!');  
}
else
{
	console.log('[Yaniv] My Tasks - Completed NOT visible!');  
}

// Check if this is unassigned task
<% if ( @activity.is_unassigned? ) %>
	console.log('[Yaniv] Creating unassigned task...');  
	
	<%# unassignedTasks = activityparent.get_unassigned_tasks %>
	// Check if we're drawing the first unassigned task now
	if ( !jQuery("#unassigned-tasks .list").is(":visible") )
	{
		console.log('[Yaniv] unassigned Tasks - is NOT visible');  
		console.log('[Yaniv] Drawing FIRST unassigned tasks');  
		//console.log('[Yaniv] Unassigned section is NOT visible');  
		jQuery('#unassigned-tasks').append('<h2>unassigned tasks <span>(1)</span></h2>');
		jQuery('#unassigned-tasks').append('<div class="tvit-list" id="unassignedtasks"></div>');			
	}
	
	jQuery("#unassignedtasks").append("<ul class='list'><%= escape_javascript(render(:partial => 'shared/task_db', :collection =>  [@activity], :as => :my_task, :locals => {:taskContext => 'ADP'})) %></ul>");
	
//if creating tivit for myself
<% elsif current_account.user.id == (@activity.owner_id) %>

	console.log('[Yaniv] creating tivit for myself'); 
	// check if we need to add the my tasks title	
	<%# mytivits = activityparent.tivits.where("owner_id = ? " ,current_account.user.id) %>
	
	if ( !jQuery("#alltivits .list").is(":visible") )
	{
		console.log('[Yaniv] My Tasks - is NOT visible');  
		// need to add the my tasks header
		console.log('[Yaniv] first tivit for myself');  
		jQuery('#alltivits').append('<h2>my tasks <span>(1)</span></h2>');	
		jQuery('#alltivits').append('<div class="tvit-list" id="mytivits"></div>');		
		jQuery('#alltivits').css('background', '#F8F8F8');		
	}
	
	<%# if activityparent.get_num_of_completed_tasks (current_account.user) > 0 %>
	if ( jQuery("#mytivits .show-other-tasks").is(":visible") )
	{
	    //jQuery("#mytivits").append("<%= escape_javascript(render(:partial => 'shared/tivit_adp', :collection =>  [@activity])) %>");	
		jQuery("#mytivits .additional-tivits").before("<ul class='list'><%= escape_javascript(render(:partial => 'shared/task_db', :collection =>  [@activity], :as => :my_task, :locals => {:taskContext => 'ADP'})) %></ul>");	
	}
	else
	{
		//jQuery("#mytivits").append("<%= escape_javascript(render(:partial => 'shared/task_db', :collection =>  [@activity], :as => :my_task, :locals => {:taskContext => 'ADP'})) %>");
		jQuery("#mytivits").append("<ul class='list'><%= escape_javascript(render(:partial => 'shared/task_db', :collection =>  [@activity], :as => :my_task, :locals => {:taskContext => 'ADP'})) %></ul>");		
	}
	console.log('[Yaniv] after partial rendering....(myself)...'); 
	
	// Need to update the tivits counter
	
<% else %>
	//creating tivit for someone else
	console.log('[Yaniv] creating for someone else'); 
		
	if ( !jQuery("#team-tivits .list").is(":visible") )
	{
		console.log('[Yaniv] team tasks - is NOT visible');  	
		console.log('[Yaniv] first task for someone else!');  
		jQuery('#team-tivits').append('<h2>team tasks <span>(1)</span></h2>');
		jQuery('#team-tivits').append('<div class="tvit-list" id="teamtivits"></div>');	
	}
	
	console.log('[Yaniv] trying to run the partial...'); 
	
	if ( jQuery("#teamtivits .show-other-tasks").is(":visible") )
	{
		//jQuery("#teamtivits").append("<%= escape_javascript(render(:partial => 'shared/tivit_adp', :collection =>  [@activity])) %>");
		jQuery("#teamtivits .additional-tivits").before("<ul class='list'><%= escape_javascript(render(:partial => 'shared/task_db', :collection =>  [@activity], :as => :my_task, :locals => {:taskContext => 'ADP'})) %></ul>");
	}
	else
	{
		jQuery("#teamtivits").append("<ul class='list'><%= escape_javascript(render(:partial => 'shared/task_db', :collection =>  [@activity], :as => :my_task, :locals => {:taskContext => 'ADP'})) %></ul>");
	}
	
	console.log('[Yaniv] after partial rendering...(others)..'); 
	
	// Need to update the tivits counter

<% end %>

console.log('[Yaniv] succeeded?'); 
console.log('new tivit should be rendered by now...'); 
if ( jQuery("#adpfte").is(":visible") ) 
{
	console.log('[Yaniv] First tivit! Remove FTE image');
	jQuery('#adpfte').remove();
	jQuery('#alltivits').css('background', '#F8F8F8');	
}

hidePopup();
showConfirmationMessage ("<b><%= @activity.name.gsub("\'", "\\\\'") %></b> has been created!");

//jQuery('#page-container').append('<div class="flash" id="confirmMsg"><%= @activity.name.gsub("\'", "\\\\'") %> has been created!</div>');

console.log('[Yaniv] after displaying confirm message'); 

// at this point, we are ready to add the activity to the page. 
//jQuery('#alltivits').append (content_to_add);

/*
closeNewActivity();
console.log('[Yaniv] trying to run the partial...'); 
jQuery("#mytivits").append("<%= escape_javascript(render(:partial => 'shared/tivit_adp', :collection =>  [@activity])) %>");
console.log('[Yaniv] succeeded?'); 
console.log('new tivit should be rendered by now...'); 
*/	
/*
content_to_add = '<div class="tvit-list">'+
					'<ul class="list">' +
						'<li class="record unread">'+
							'<div class="status"><div class="icon"></div></div>'+
							'<div class="avatar"><img src="images/avatar_1.png" alt="Don-profile"></div>'+
							'<div class="text">'+
								'<div class="activity">'+
									'<div class="comments"></div>'+
									''<div class="calendar">'+
										'<div class="week">MON</div>'+
										''<div class="text">26</div>'+
									'</div>'+
								'</div>'+
								'<h3>Finish Competitive Analysis</h3>'+
								'<p><small><strong>Don Draper</strong>, Yesterday @ 8:09 AM</small></p>'+
							'</div>'+
							'<div class="clear"></div>'+
							'<ul class="list">'+
								'<li class="record unread">'+
									'<div class="avatar"><img src="images/avatar_2.png" alt="Pete Campbell"></div>'+
									'<div class="text">'+
										'<p>I uploaded a file that has some data points I collected earlier this year on some of Kodak's competitors. Check it out.</p>'+
										'<p><small><strong>Pete Campbell</strong>, 3 hours ago</small></p>'
									'</div>'+
									'<div class="respond">'+
										'<div class="form-button">respond</div>'+
										'<div class="status-list-dialog">'+
											'<ul class="status-list">'+
												'<li class="inprog"><div class="ico"></div>I'm on it</li>'+
												'<li class="complete"><div class="ico"></div>I'm finished</li>'+
												'<li class="busy"><div class="ico"></div>I'm too busy</li>'+
												'<li class="attention"><div class="ico"></div>Propose new time</li>'+
											'</ul>'+
										'</div>'+
									'</div>'+
									'<div class="post"><textarea cols="10" rows="1">Leave a note...</textarea></div>'+
									'<div class="clear"></div>'+
								'</li>'+
							'</ul>'+
						'</li>'+
					'</ul>'+
				'</div>';

*/	
