//alert ('On it in Ajax');
console.log('on_it.js.erb:: called.');  

//console.log('activity name=', "<%= @activity.name %>");  
//console.log('@lastcomment=', "<%= @lastcomment %>");  

//jQuery('#page-container').append('<div class="flash" id="confirmMsg">You agreed to help <%= @activity.get_owner.name.gsub("\'", "\\\\'") %> </div>');

//showConfirmationMessage ("You agreed to help <b><%= @activity.get_invited_by.name.gsub("\'", "\\\\'") %></b>");



//showConfirmationMessage ("You agreed to help <b><%= render :partial => 'users/user_link', :collection =>  [@activity.get_owner], :as => :user %></b>");
showConfirmationMessage ("You agreed to help <b><%= ssssss %></b>");

//
//<%activityOwner_link = render :partial => 'users/user_link', :collection =>  [my_task.get_parent_owner], :as => :user%> 
	//							
												for <strong><%= activityOwner_link %></strong>
		                        