
<tr>
  <td class="activity">
    <span class="content"><b><%= @activity.name %></b></span><br>
    <span class="content">Details: <%= @activity.description %></span><br>
    <span class="content">Due : <%= @activity.due %></span><br>

   <% @activity.users.each do |user| %>
   	  <% if current_user.id == @activity.owner_id && user.id == current_user.id %>
      	<span class="content">I am the owner</span><br>
   	  <% else %>
   		<% if user.id == @activity.owner_id %>
   			<span class="content"><%= user.email%> is the owner of this task</span><br>
   		<% else %>
 			<% if user.id == current_user.id%>	
   				<span class="content">i am participating</span><br>
   			<% else %>
   				<span class="content"><%= user.email%> is participating</span><br>
   			<% end %>
   		<% end %>			
   	  <% end %> 	
   <% end %>
    <span class="timestamp">tivit created <%= time_ago_in_words(@activity.created_at) %> ago.</span><br>
  </td>
  <td>
  	<span class="content">Task Status: <%= @activity.get_status(current_user) %> ! </span><br> 			
   	
  	<% if @activity.status == "completed" %>
 			<span class="content"> Completed !</span><br>
 			<% if @activity.completed_at!=nil %>
				<span class="timestamp">tivit was completed <%= time_ago_in_words(@activity.completed_at) %> ago </span> 			
   			<% end %> 
  	<% else %> 
 			<span class="content"> In Progress </span><br>
 			<% if @activity.due!=nil %>
   				<% if @activity.due > Time.now %>
      				<span class="timestamp">tivit is due in <%= time_ago_in_words(@activity.due) %> </span>
   				<% else %>
   					<span class="timestamp">tivit is <%= time_ago_in_words(@activity.due) %> ovberdue! </span>
   				<% end %>
   			<% end %> 
  	<% end %> 
   
  </td>
  
  
  <td>
  	
  <% if current_user.id == (@activity.owner_id) %>
  	<%= link_to "edit", edit_activity_path(@activity) %>
  	
    <%= link_to "delete", @activity, :method => :delete,
                                     :confirm => "You sure you want to delete" +@activity.name+"?",
                                     :title => @activity.name %>
  <% end %>
  
  
  
  
  <%= link_to "details", @activity, :action => "show",
  									:method => "get",
                                    :title  => @activity.name %>
                                      
   <% if current_user.id != (@activity.owner_id) %>
  	
    
    <%= link_to "accept", 		:controller  => "activities", 
   								:action  => "accept",
 								:id  => @activity.id, 
  							    :confirm => "Are you sure you want to accepect tivit" +@activity.name+"?", 
                                :title   => @activity.name %>

    
    
                                     
    <%= link_to "decline",      :controller  => "activities",
    							:action  => "decline",
    							:id  => @activity.id, 
  							    :confirm => "Are you sure you want to decline tivit" +@activity.name+"?",
                                :title   => @activity.name %>

  <% end %>
  
  </td>

 
</tr>

<tr>

  <td>
<!-- Displaying comment -->

<% @activity.tivitcomments.each do |comment| %>
   	  <span class="content"><b><%= comment.user.name%>:</b>  </span>
   	  <span class="content"><%= comment.comment%> </span>
   	  <br>
   	   	
<% end %>
    

<!-- Add comment -->  
  
  <span class="content">
   <%= form_for([@activity, @activity.tivitcomments.build]) do |f| %>
    <%= f.label :comment %><br />
    <%= f.text_field :comment, :size => "40" %>
  <div class="actions">
    <%= f.submit "add comment" %>
  </div>
  <% end %>
  </span>

  </td>

</tr>




