<!-- Display a single tivits in Team tivit within an acitivty-->
	<%if user == nil%>
		<%return%>
	<%end%>
 <tr> 
 <font size = "4">
 	<td><%=user.get_name%></td>
 	<td><%=user.get_email%></td>
 	
 	<td ><%=time_ago_in_words(user.created_at)%> ago</td> 
 	<td align="center"><%=user.activities.where(:activity_type => "activity").count%> </td>
 	<td align="center"><%=user.activities.where(:activity_type => "tivit").count%></td>
 	<td align="center"><%=Activity.where(:activity_type => "tivit",:invited_by => user.get_id).count%></td>
 	
 	<%if user.account != nil && user.account.current_sign_in_at != nil%>
		
		<td><%=time_ago_in_words(user.account.current_sign_in_at)%> ago</td>
	<%else%>
		<td>not created</td>
 	
	<%end%>
 	
 </font>	 	
 </tr>
 				