<!-- Header - Main Navigation & New Activity Bar -->
<% if account_signed_in? %>

<div id="main-nav-background">

    <nav id="main-nav">
        <div class="logo">
            <%= link_to logo, root_path %>
        </div>

<% if account_signed_in? %>
 
        <ul class="nav-item">
        	
        	<% if @title == "Home" %>  	
        		<li><%= link_to "Home", root_path, :class => "current" %></li>
        	<% else %>
	    		<li><%= link_to "Home", root_path %></li>
	    	<% end %>
	    	
	    	<!-- <li><%= link_to "Activities", about_path %></li> -->
	    	<!-- <li><%= link_to "Team", contact_path %></li> -->
	    	<% if @title == "How it works?" %>
	    		<li><%= link_to "How it works?", help_path, :class => "current" %></li>
	    	<% else %>
	    		<li><%= link_to "How it works?", help_path %></li>
	    	<% end %>
	    	
	    	<%if current_account.user.isAdmin?%>
				<% if @title == "Analytics" %>
	    		<li><%= link_to "Analytics", bireport_path, :class => "current" %></li>
	    	<% else %>
	    		<li><%= link_to "Analytics", bireport_path %></li>
	    	<% end %>
	    	
			<%end%>


        </ul>


<% end %>

		<div id="user-nav">
			<ul class="menu">		
				<% if account_signed_in? %>
					<li><a href="#" onclick="javascript:showlayer('sm_1')"> Hello, <b><%= current_account.get_name%> </b></a></li>
						<ul class="submenu" id="sm_1">
							<li><%= link_to "My Account", current_account.user %></li>
							<!--li><%= link_to "Settings", edit_user_path(current_account.user) %></li-->
							<li><%= link_to "Sign out", destroy_account_session_path %></li>
						</ul>
					</ul>
				<% else %>
					<li><%= link_to 'Sign in', new_account_session_path %></li>	
				<% end %>
		</div>

    </nav>
<!--
	 <%= %> 
	<%= controller.action_name %> 
-->


</div>

<% end %>	
	
	

