<!-- Header - Main Navigation & New Activity Bar -->
<% if account_signed_in? %>

<div id="main-nav-background">

    <nav id="main-nav">
        <div class="logo">
            <%= link_to logo, root_path %>
        </div>

<% if account_signed_in? %>
 
        <ul class="nav-item">
        	
        	<li><%= link_to "Home", root_path, :class => "current" %></li>
	    	<li><%= link_to "Activities", about_path %></li>
	    	<li><%= link_to "Team", contact_path %></li>      

        </ul>


<% end %>

		<div id="user-nav">
			<ul class="menu">		
				<% if account_signed_in? %>
					<li><a href="#" onclick="javascript:showlayer('sm_1')"> Hello, <b><%= current_account.get_name%> </b></a></li>
						<ul class="submenu" id="sm_1">
							<li><%= link_to "Profile", current_account.user %></li>
							<li><%= link_to "Settings", edit_user_path(current_account.user) %></li>
							<li><%= link_to "Sign out", destroy_account_session_path, :method => :delete %></li>
						</ul>
					</ul>
				<% else %>
					<li><%= link_to 'Sign in', new_account_session_path %></li>	
				<% end %>
		</div>

    </nav>
<!--
	 <%= %> 
	<%= controller.action_name %> 
-->


</div>

<% end %>	
	
	

