<!-- Header - Main Navigation & New Activity Bar -->
<div id="main-nav-background">

    <nav id="main-nav">
        <div class="logo">
            <%= link_to logo, root_path %>
        </div>

<% if signed_in? %>
 
        <ul class="nav-item">
        	
        	<li><%= link_to "Home", root_path, :class => "current" %></li>
	    	<li><%= link_to "Activities", about_path %></li>
	    	<li><%= link_to "Team", contact_path %></li>      
<!--	    	
            <li><a href="http://tiviti.heroku.com/" class="current">Home</a></li>
            <li><a href="http://tiviti.heroku.com/">Meetings</a></li>
            <li><a href="http://tiviti.heroku.com/about">Activities</a></li>
            <li><a href="http://tiviti.heroku.com/">Files</a></li>
            <li><a href="http://tiviti.heroku.com/contact">Team</a></li>
-->
        </ul>


<% end %>

		<div id="user-nav">
			<ul class="menu">		
				<% if signed_in? %>
					<li><a href="#" onclick="javascript:showlayer('sm_1')"> Hello, <b><%= current_user.name %> </b></a></li>
						<ul class="submenu" id="sm_1">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
						</ul>
					</ul>
				<% else %>
					<li><%= link_to "Sign in", signin_path %></li>	
				<% end %>
		</div>

    </nav>
<!--
	 <%= %> 
	<%= controller.action_name %> 
-->

</div>
	
	
	

